<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>装饰工程</title>
<link rel="stylesheet" href="css/css.css" type="text/css">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <div class="top">
    	<div class="main">
			<p class="fl"><img src="images/logo.png" alt=""/>一人就业 全家安心</p>
   			<span class="fr"><img src="images/zxrx.png" alt=""/></span>
    	</div>
	</div>
   	<div class="topnav">
    	<ul class="main">
    		<li><a href="/index.html">首页</a></li>
    		<li><a href="">企业荣誉</a></li>
    		<li class="on"><a href="/jianjie.html">集团简介</a></li>
    		<li><a href="/fuwu.html">家政服务</a></li>
    		<li><a href="/xiaxiang.html">送技术下乡</a></li>
    		<li><a href="/peixun.html">技能培训</a></li>
    		<li><a href="/hezuo.html">劳务合作社</a></li>
    		<li><a href="/renli.html">人力资源</a></li>
    		<li><a href="/zhaoxian.html">招贤纳士</a></li>
    		<li><a href="/lianxi.html">联系我们</a></li>
    		<li><a href="/jiameng.html">合作加盟</a></li>
    	</ul>
    </div>
	<!--公益在行动-->
	<div class="main jiuYe">
		<div class="breadNav">首页>装饰工程>全屋私人定制设计>详情页</div>
		<div class="gongyiTxt">
			<img src="images/dingzhi.jpg" alt=""/>
			<p>集团分公司山东春来顺装饰工程有限公司面对济南及德州地区（含各县乡镇）承接家居智能家居策划及施工。</p>
     		<p>智能家居系统是利用先进的计算机技术、网络通讯技术、智能云端控制、综合布线技术、医疗电子技术依照人体工程学原理，融合个性需求，将与家居生活有关的各个子系统如安防、灯光控制、窗帘控制、煤气阀控制、信息家电、场景联动、地板采暖、健康保健、卫生防疫、安防保安等有机地结合在一起，通过网络化综合智能控制和管理，实现“以人为本”的全新家居生活体验。智能家居系统又称智能住宅，在国外常用Smart Home表示。与智能家居系统含义近似的有家庭自动化、电子家庭、数字家园、家庭网络、网络家居、智能家庭/建筑，在我国香港和台湾等地区，还有数码家庭、数码家居等称法。</p>
     		<p>自从世界上第1幢智能建筑1984年在美国出现后，美国、加拿大、欧洲、澳大利亚和东南亚等经济比较发达的国家先后提出了各种智能家居的方案。新加坡模式的家庭智能化系统包括三表抄送功能、安防报警功能、可视对讲功能、监控中心功能、家电控制功能、有线电视接入、住户信息留言功能、家庭智能控制面板、智能布线箱、宽带网接入和系统软件配置等。</p>
      		<p>智能家居最终目的是让家庭更舒适，更方便，更安全，更符合环保。随着人类消费需求和住宅智能化的不断发展，今天的智能家居系统将拥有更加丰富的内容，系统配置也越来越详尽。智能家居包括网络接入系统、防盗报警系统、消防报警系统、电视对讲门禁区系统、煤气泄露探测系统、远程抄表（水表、电表、煤气表）系统、紧急求助系统、远程医疗诊断及护理系统、室内电器自动控制管理及开发系统、集中供冷热系统、网上购物系统、语音与传真（电子邮件）服务系统、网上教育系统、股票操作系统、视频点播、付费电视系统、有线电视系统等。如今的智能家居控制系统因为数量的增加价格早已非常亲民，几千元就能让您住进一个拥有智能小管家的智能新家！</p>
		</div>
		<div class="anlitu">
			<h3>案例图</h3>
			<ul>
				<li><img src="images/DZanli-1.jpg" alt=""/><em></em></li>
				<li><img src="images/DZanli-2.jpg" alt=""/><em></em></li>
				<li><img src="images/DZanli-3.jpg" alt=""/><em></em></li>
				<li><img src="images/DZanli-4.jpg" alt=""/><em></em></li>
				<li><img src="images/DZanli-5.jpg" alt=""/><em></em></li>
				<li><img src="images/DZanli-6.jpg" alt=""/><em></em></li>
				<li><img src="images/DZanli-7.jpg" alt=""/><em></em></li>
				<li><img src="images/DZanli-8.jpg" alt=""/><em></em></li>
				<li><img src="images/DZanli-9.jpg" alt=""/><em></em></li>
			</ul>
		</div>
	</div>

	<!--底部-->
	<div class="foot">
		<div class="main">
			<div class="fl leftTxt">
				<div class="fotnav">
					<a href="">首页</a>
					<a href="">联系我们</a>
					<a href="">投诉意见</a>
					<a href="">免费培训</a>
					<a href="">人才招聘</a>
					<a href="">连锁加盟</a>
					<a href="">寻求帮助</a>
				</div>
				<p>地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</p>
			</div>
			<div class="fr rightTxt">
				<img src="images/laifang.png" alt=""/>
				<div class="link">
					<p>友情链接：</p>
					<div class="friend">
						<a href="">中国家庭服务业协会</a>
						<a href="">山东妇女网</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
