<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>家政服务-养老服务</title>
<link rel="stylesheet" href="/css/css.css" type="text/css">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <div class="top">
    	<div class="main">
			<p class="fl"><img src="images/logo.png" alt=""/>一人就业 全家安心</p>
   			<span class="fr"><img src="images/zxrx.png" alt=""/></span>
    	</div>
	</div>
	<div class="topnav">
		<ul id="nav" class="nav clearfix">
			<li class="nLi on">
				<h3><a href="/index.html">首页</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/rongyu.html">企业荣誉</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/jianjie.html">集团简介</a></h3>
				<ul class="sub">
					<li><a href="/jianjie?&ad=QIYEWENHUA">企业文化</a></li>
					<li><a href="/jianjie?&ad=JITUANJINGSHEN">集团精神</a></li>
					<li><a href="/jianjie?&ad=JITUANYUANJING">集团愿景</a></li>
					<li><a href="/jianjie?&ad=JITUANLINIAN">集团理念</a></li>
					<li><a href="/jianjie?&ad=GONGSIZHANSHI">公司展示</a></li>
					<li><a href="/jianjie?&ad=SHEHUIZEREN">社会责任</a></li>
					<li><a href="/jianjie?&ad=ZUZHIKUANGJIA">公司人员组织框架</a></li>
					<li><a href="/jianjie?&ad=CISHANGONGYI">慈善公益</a></li>
					<li><a href="/jianjie?&ad=XUEYUANFENGCAI">学员风采</a></li>
				</ul>
			</li>
			<li  class="nLi">
				<h3><a href="/fuwu.html">家政服务</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/xiaxiang.html">送技术下乡</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/peixun">技能培训</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/hezuo.html">劳务合作社</a></h3>
				<ul class="sub">
					<li><a href="/hezuo?ad=JIANJIE">劳务合作社简介</a></li>
					<li><a href="/hezuo?ad=ZHAOPIAN">合作社照片</a></li>
					<li><a href="/hezuo?ad=FENSHE">合作社分社</a></li>
					<li><a href="/hezuo?ad=ANLI">合作社案例</a></li>
					<li><a href="/hezuo?ad=PEIXUN">定向培训</a></li>
					<li><a href="/hezuo?ad=XUQIU ">人员需求</a></li>
				</ul>
			</li>
			<li  class="nLi">
				<h3><a href="/renli.html">人力资源</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/zhaoxian.html">招贤纳士</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/lianxi.html">联系我们</a></h3>
				<ul class="sub">
					<li><a href="/lianxi?ad=JITUANDIZHI">集团地址</a></li>
				</ul>
			</li>
			<li  class="nLi">
				<h3><a href="/jiameng.html">合作加盟</a></h3>
				<ul class="sub">
					<li><a href="/jiameng?ad=ZHIYING">公司直营店</a></li>
					<li><a href="/jiameng?ad=JIAMENG">加盟店</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!--家政服务-->
	<div class="main">
		<div class="huli">
			<h3>居家养老服务</h3>
			<div class="txt">
				<p>随着人口老龄化程度不断加深，养老服务人才的紧缺日益凸显，我们积极响应李克强总理的会议精神。积极培养养老护理专业人员，对接养老机构，提高了合心阿姨的就业能力，得到了养老机构的认可。</p>
			</div>
			<dl>
				<dt>工作内容:</dt>
				<dd>居家养老服务对象分为两种:能自理和不能自理。据此确定居家养老服务的内容。</dd>
				<dd>1、生活护理</dd>
				<dd>1)对于能自理的客户，提供洗衣、做饭、整理卫生、居室保洁、衣服熨烫、陪同看病、取药、代为购物服务。</dd>
				<dd>2)对于不能自理的客户，除以上服务外，增加提供帮助清理个人卫生及大小便，照顾睡眠、饮食、给药。</dd>
				<dd>2、保健护理</dd>
				<dd>提供按摩、测血压、测体温、提醒吃药、肢体康复服务。</dd>
				<dd>3、心理疏导</dd>
				<dd>提供读报、聊天、倾听、沟通、交流等服务。</dd>	
			</dl>
			<dl>
				<dt>工作时间:</dt>
				<dd>1、八小时: 上午8:00~11：30  下午1：30~18:00， 可分为每周单休或双休</dd>
				<dd>2、全日制:每月休息四天</dd>
			</dl>
			<dl>
				<dt>服务等级:</dt>
				<dd>一星级、二星级、三星级</dd>
			</dl>
			<dl>
				<dt>服务流程:</dt>
				<dd>电话或现场登记需求信息→安排客户(家属)和服务员见面→洽谈→签约(有异议重新约见、洽谈)→办理相关手续→服务员上岗服务→公司双向回访→合同续签(不满意协商调换)→合同终止→满意测评</dd>
			</dl>
			<div class="anniu">
				<input type="button" value="立即预约"/>
				<input type="button" value="立即参与"/>
			</div>
			<ul>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
			</ul>
		</div>
	</div>
	
	<!--底部-->
	<div class="foot">
		<div class="main">
			<div class="fl leftTxt">
				<div class="fotnav">
					<a href="/index.html">首页</a>
					<a href="/lianxi.html">联系我们</a>
					<a href="">投诉意见</a>
					<a href="/peixun">免费培训</a>
					<a href="/zhaoxian.html">人才招聘</a>
					<a href="/jiameng.html">连锁加盟</a>
					<a href="">寻求帮助</a>
				</div>
				<p>地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</p>
			</div>
			<div class="fr rightTxt">
				<img src="images/laifang.png" alt=""/>
				<div class="link">
					<p>友情链接：</p>
					<div class="friend">
						<a href="http://wang119665.qiyegongqiu.net/">中国家庭服务业协会</a>
						<a href="http://www.sdwomen.org.cn/">山东妇女网</a>
						<a href="http://hrss.dezhou.gov.cn/">德州市人社局</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
    jQuery("#nav").slide({
        type:"menu",// 效果类型，针对菜单/导航而引入的参数（默认slide）
        titCell:".nLi", //鼠标触发对象
        targetCell:".sub", //titCell里面包含的要显示/消失的对象
        effect:"slideDown", //targetCell下拉效果
        delayTime:300 , //效果时间
        triggerTime:0, //鼠标延迟触发时间（默认150）
        returnDefault:true //鼠标移走后返回默认状态，例如默认频道是“预告片”，鼠标移走后会返回“预告片”（默认false）
    });
	jQuery(".RYtableBox").slide({trigger:"click"});

</script>