<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>家政服务-母婴护理</title>
<link rel="stylesheet" href="css/css.css" type="text/css">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <div class="top">
    	<div class="main">
			<p class="fl"><img src="images/logo.png" alt=""/>一人就业 全家安心</p>
   			<span class="fr"><img src="images/zxrx.png" alt=""/></span>
    	</div>
	</div>
   	<div class="topnav">
    	<ul class="main">
    		<li><a href="index.html">首页</a></li>
    		<li><a href="">企业荣誉</a></li>
    		<li><a href="jianjie.html">集团简介</a></li>
    		<li class="on"><a href="fuwu.html">家政服务</a></li>
    		<li><a href="xiaxiang.html">送技术下乡</a></li>
    		<li><a href="hezuo.html">劳务合作社</a></li>
    		<li><a href="renli.html">人力资源</a></li>
    		<li><a href="gongcheng.html">装饰工程</a></li>
    		<li><a href="zhaoxian.html">招贤纳士</a></li>
    		<li><a href="lianxi.html">联系我们</a></li>
    		<li><a href="jiameng.html">合作加盟</a></li>
    	</ul>
    </div>
	<!--家政服务-->
	<div class="main">
		<div class="huli">
			<h3>母婴生活护理</h3>
			<div class="txt">
				<p>一、照料宝宝的日常起居包括喂奶，喂水，换尿布，洗澡，每天指导宝宝游泳锻炼身体。</p>
				<p>二、具有专业的护理知识，洗涤并消毒宝宝的奶瓶衣物尿布等。</p>
				<p>三、具有常见病的观察和护理能力，判定宝宝是否患有尿布疹，新生儿黄疸等，并对一些常见的新生儿疾病采取预防措施。</p>
				<p>四、针对产妇的生活护理，帮产妇擦身观察恶露，洗涤产妇大部分衣物。</p>
				<p>五、帮助产妇通乳解决乳房胀痛，交会产妇如何清洁乳房和双手后挤奶或进行乳房按摩。教会产妇正确的哺味姿势。</p>
				<p>六、制作产妇的营养餐和催乳汤水。保证母乳的产量和质量的同时，指导产妇做产后恢复操，促进子宫复原体形复原。</p>
				<p>七、经常与产妇交流育儿心得，及时安抚产妇，避免产妇出现产后抑郁症。</p>
			</div>
			<dl>
				<dt>服务标准</dt>
				<dd>合心阿姨   十个一点</dd>
				<dd>微笑多一点，服务好一点，仪表美一点，操作稳一点，语言甜一点，要求严一点，爱心多一点，能力强一点，观察细一点，效率高一点。</dd>
			</dl>
			<dl>
				<dt>职业道德</dt>
				<dd>合心阿姨   职业道德</dd>
				<dd>1.遵守时间，信守承诺。</dd>
				<dd>2.努力好学，技术精益求精。</dd>
				<dd>3.尊重雇主，诚实厚道，善解人意，热情服务，提高公司信誉。</dd>
				<dd>4.保护隐私，不参于雇主家内事物，促进家庭和谐。</dd>
				<dd>5.善于交流，善于倾听，主动征求雇主意见。</dd>
				<dd>6.产生矛盾，及时解决，以理服人。</dd>
				<dd>7.遵纪守法，维护社会公德，提高公司形象。</dd>
			</dl>
			<div class="anniu">
				<input type="button" value="立即预约"/>
				<input type="button" value="立即参与"/>
			</div>
			<ul>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
			</ul>
		</div>
	</div>
	
	<!--底部-->
	<div class="foot">
		<div class="main">
			<div class="fl leftTxt">
				<div class="fotnav">
					<a href="">首页</a>
					<a href="">联系我们</a>
					<a href="">投诉意见</a>
					<a href="">免费培训</a>
					<a href="">人才招聘</a>
					<a href="">连锁加盟</a>
					<a href="">寻求帮助</a>
				</div>
				<p>地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</p>
			</div>
			<div class="fr rightTxt">
				<img src="images/laifang.png" alt=""/>
				<div class="link">
					<p>友情链接：</p>
					<div class="friend">
						<a href="">中国家庭服务业协会</a>
						<a href="">山东妇女网</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	jQuery(".RYtableBox").slide({trigger:"click"});
</script>