<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>家政服务-保洁服务</title>
<link rel="stylesheet" href="css/css.css" type="text/css">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <div class="top">
    	<div class="main">
			<p class="fl"><img src="images/logo.png" alt=""/>一人就业 全家安心</p>
   			<span class="fr"><img src="images/zxrx.png" alt=""/></span>
    	</div>
	</div>
   	<div class="topnav">
    	<ul class="main">
    		<li><a href="index.html">首页</a></li>
    		<li><a href="">企业荣誉</a></li>
    		<li><a href="jianjie.html">集团简介</a></li>
    		<li class="on"><a href="fuwu.html">家政服务</a></li>
    		<li><a href="xiaxiang.html">送技术下乡</a></li>
    		<li><a href="hezuo.html">劳务合作社</a></li>
    		<li><a href="renli.html">人力资源</a></li>
    		<li><a href="gongcheng.html">装饰工程</a></li>
    		<li><a href="zhaoxian.html">招贤纳士</a></li>
    		<li><a href="lianxi.html">联系我们</a></li>
    		<li><a href="jiameng.html">合作加盟</a></li>
    	</ul>
    </div>
	<!--家政服务-->
	<div class="main">
		<div class="huli">
			<h3>专业保洁服务</h3>
			<div class="txt">
				<p>本集团有专业的保洁队伍，为个大中型企业、商场、机场、高铁站、医院、超市等单位提供了全方位的长期保洁服务。为确保服务质量，公司斥巨资购进先进专业的保洁设备，与全国各地及当地多家企事业单位及大型企业达成长期合作关系。</p>
			</div>
			<div class="anniu">
				<input type="button" value="立即预约"/>
				<input type="button" value="立即参与"/>
			</div>
			<ul>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
				<li><img src="images/jiazheng.jpg" alt=""/></li>
			</ul>
		</div>
	</div>
	
	<!--预约弹框-->
	<div class="pop">
		<div class="txt">
			<em>×</em>
			<h3>立即预约</h3>
			<div class="ewm"><img src="images/erweima.jpg" alt=""/>微信二维码</div>
			<p><span>手机号：13053434274</span><span>电话：0534-7296999</span></p>
		</div>
	</div>
	
	
	<!--底部-->
	<div class="foot">
		<div class="main">
			<div class="fl leftTxt">
				<div class="fotnav">
					<a href="">首页</a>
					<a href="">联系我们</a>
					<a href="">投诉意见</a>
					<a href="">免费培训</a>
					<a href="">人才招聘</a>
					<a href="">连锁加盟</a>
					<a href="">寻求帮助</a>
				</div>
				<p>地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</p>
			</div>
			<div class="fr rightTxt">
				<img src="images/laifang.png" alt=""/>
				<div class="link">
					<p>友情链接：</p>
					<div class="friend">
						<a href="">中国家庭服务业协会</a>
						<a href="">山东妇女网</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	//弹框
	$("#Now input").click(function(){$(".pop").show();});
	$(".pop em").click(function(){$(".pop").hide();});
</script>