<!doctype html>
<html>
<head th:include="include :: header">
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>劳务合作社</title>
</head>
<body>
    <div class="top">
    	<div class="main">
			<p class="fl"><img src="images/logo.png" alt=""/>一人就业 全家安心</p>
   			<span class="fr"><img src="images/zxrx.png" alt=""/></span>
    	</div>
	</div>
   	<div class="topnav">
    	<ul class="main">
    		<li><a href="/index.html">首页</a></li>
    		<li><a href="/rongyu">企业荣誉</a></li>
    		<li><a href="/jianjie.html">集团简介</a></li>
    		<li><a href="/fuwu.html">家政服务</a></li>
    		<li><a href="/xiaxiang.html">送技术下乡</a></li>
			<li><a href="/peixun">技能培训</a></li>
    		<li class="on"><a href="/hezuo.html">劳务合作社</a></li>
			<li><a href="/renli.html">人力资源</a></li>
    		<li><a href="/zhaoxian.html">招贤纳士</a></li>
    		<li><a href="/lianxi.html">联系我们</a></li>
    		<li><a href="/jiameng.html">合作加盟</a></li>
    	</ul>
    </div>

	<!--劳务合作社-->
	<div class="main">
		<div class="hezuoshe">
			<dl>
				<dt> 劳务合作社简介 </dt>
				<div id="companyContent1" style="display: none" th:text="${hezuosheShouye.hezuosheJianjie}"></div>
				<div class="ibox-content no-padding" style="border-color: #fff;">
					<div id="content_sn1" class="summernote1"></div>
				</div>
				<!--
				<dt> 劳务合作社简介 </dt>
				<dd>集团劳务合作社：是本地首家劳务合作社，并与禹城市邢店、房寺、陈寨、安仁、王子付、十里望等多个乡镇达成长期合作关系，突出为经济社会发展服务，为就业和再就业工作服务。</dd>
				<dd>合作社始终”以服务为宗旨、以就业为导向、以技能为核心、以综合素质为根本“。坚持“民办、民管、民受益”原则，突出公益性，重点解决本地农村劳动力转移就业，把提高农民就业率作为兴办劳务合作社的出发点和落脚点。</dd>
				<dd>劳务合作社将通过搭建平台，承接劳务服务，如为企业、业主开展定向、订单式用工服务；向物业公司、医疗机构、水利部门等单位，承接保安、保洁等劳务用工服务，从而促进了就业并推进了当地经济的发展。</dd>
				<dd>劳务合作社自成立以来，已经完成对房寺镇10个管区、162个自然村的闲置富余劳动力的登记。 例如，我们已经完成对房寺镇邢店管区闲置富余劳动力的登记工作。 据统计，该管区包括1个社区和九个自然村，劳动力有5392人，其中外出务工、经商人数达到4950人，占该管区总人口的77%。大专以上学历有396人，占外出务工人数的8%；初、高中学历有3910人，占外出务工人数的79%；初中以下学历有643人，占外出人数的13%。其中无就业人员642人，我们对这些无就业人员积极开展送技术下乡活动，为他们再就业创造良好的条件。</dd>
				<dd>通过此次调查，劳务合作社决定对他们进行统一的免费技能培训，培训项目有育婴师、中式烹调、养老护理、中式面点、电工电焊，美容美发等。提升了农民工朋友们的再就业能力，然后结合集团人力资源分公司的用工实际，实时与用工单位开展劳务对接合作，帮助农民就业增收。集团还鼓励农民工走出去，去往大的城市，拓宽眼界，增加收入，在为城市建设做出贡献的同时，既富了“口袋”，又富了“脑袋”。</dd>
			-->
			</dl>
		</div>
		
		<div class="titbreak"><span>合作社照片</span></div>
		<div class="scrollBox" id="hezuo">
			<div class="ohbox">
				<ul class="piclist">
					<li th:each="hzt:${hezuoshetu}">
						<img th:src="${hzt.url}" alt=""/>
					</li>
					<!--
					<li><img src="images/xueYuan-5.jpg" alt=""/></li>
					<li><img src="images/xueYuan-6.jpg" alt=""/></li>
					<li><img src="images/xueYuan-7.jpg" alt=""/></li>
					<li><img src="images/xueYuan-4.jpg" alt=""/></li>
					-->
				</ul>
			</div>
			<div class="pageBtn"> 
				<span class="prev"></span> 
				<span class="next"></span>
			</div>
		</div>
		
		<div class="titbreak"><span>合作社分社</span></div>
		<ul class="fenshe">
			<li th:each="hzf:${hezuoshefenshe}">
				<img th:src="${hzf.url}" alt=""/>
				<h3 th:text="${hzf.title}">房寺镇分社</h3>
				<a th:href="@{'/pc/hzfen/'+${hzf.id}}">查看详情</a>
			</li>
			<!--
			<li>
				<img src="images/hezuoshe-1.jpg" alt=""/>
				<h3>房寺镇分社</h3>
				<a href="">查看详情</a>
			</li>
			<li>
				<img src="images/hezuoshe-2.jpg" alt=""/>
				<h3>十里望乡分社</h3>
				<a href="">查看详情</a>
			</li>
			<li>
				<img src="images/hezuoshe-1.jpg" alt=""/>
				<h3>房寺镇分社</h3>
				<a href="">查看详情</a>
			</li>
			<li>
				<img src="images/hezuoshe-2.jpg" alt=""/>
				<h3>十里望乡分社</h3>
				<a href="">查看详情</a>
			</li>
			<li>
				<img src="images/hezuoshe-1.jpg" alt=""/>
				<h3>房寺镇分社</h3>
				<a href="">查看详情</a>
			</li>
			<li>
				<img src="images/hezuoshe-2.jpg" alt=""/>
				<h3>十里望乡分社</h3>
				<a href="">查看详情</a>
			</li>
			<li>
				<img src="images/hezuoshe-1.jpg" alt=""/>
				<h3>房寺镇分社</h3>
				<a href="">查看详情</a>
			</li>
			<li>
				<img src="images/hezuoshe-2.jpg" alt=""/>
				<h3>十里望乡分社</h3>
				<a href="">查看详情</a>
			</li>
			<li>
				<img src="images/hezuoshe-1.jpg" alt=""/>
				<h3>房寺镇分社</h3>
				<a href="">查看详情</a>
			</li>
			<li>
				<img src="images/hezuoshe-2.jpg" alt=""/>
				<h3>十里望乡分社</h3>
				<a href="">查看详情</a>
			</li>-->
		</ul>
		
		<div class="titbreak">
			<span>合作社案例</span>
			<p style="font-size:16px;font-weight:bold;">坚持科学发展  建设美好家园</p>
		</div>
		<div class="hezuoanli">
			<div id="companyContent2" style="display: none" th:text="${hezuosheShouye.hezuosheAnli}"></div>
			<div class="ibox-content no-padding" style="border-color: #fff;">
				<div id="content_sn2" class="summernote2"></div>
			</div>
			<!--
			<p> 农民劳务合作社不仅是市场经济主体，同时具有明显的公益性质，必须加强政策扶持，付出一定的心血和汗水。合作社免费提供劳务咨询，协调解决农民工在外务工期间的欠薪、工伤等有关问题，将城市化过程中创造的就业机会在同等条件下优先提供给劳务合作社，培养具有经营能力、奉献精神和群众拥护的合作社带头人，提高劳务合作社对外承揽劳务工程的市场竞争力。</p>
			<p>农民劳务合作社成员的年龄结构、知识结构、技术结构总体偏老化，这就要求管理人员要加强劳务合作社基础建设和规范化建设；要加强典型示范，抓两头，带中间，不断提高合作社组织管理水平；要加强社员的专业技能培训，使其具备适应岗位需要的技能，不断提高合作社全员劳动生产率；要完善合作社法人治理机构，确保农民在合作社内公平享有权利和合理分配收益。</p>
			<p>坚持科学发展，建设美好家园，牢固树立“以人为本、统筹城乡一体”的发展理念，广泛开办劳务合作社，加快农村劳动力转移就业，提高农民的就业技能，合作社积极开展“送技术下乡活动”，使广大农民工朋友在家门口学到技术，增加农民收入、促进农村经济社会发展。</p>
			<p>劳务合作社对农民工的培训已经转变到以农民工为本的理念上来，更是以实际、实在、实用为原则，满足不同层次的广大农民群众对培训的真实诉求，符合成人教育、职业教育的规律。一是针对不同的需求，合作社确定适宜的培训内容。培训内容除了自谋职业的技能方面，还与企业、现代制造业相适应的技工技能培训相结合。二是区别不同的对象。过去的农民工培训往往是不分青红皂白，一个模式，一个套路，有的培训主要是面向农村辍学青年进行的，而广大准农民群众的培训学习需求还远远得不到满足，培训收不到应有的效益。因此，本合作社培训的主体要面向广大渴求科技的农民群众。针对农民的培训，根据不同的对象加以分别指导，分类、分层进行，按参加培训者的需求，编制不同的课程组合，让参加培训的农民根据自己的需要自主选择培训内容，提高农民工朋友的再就业能力，促进农村城镇化。</p>
			-->
			<ul class="anli">
				<li>帮社员讨薪</li>
				<li>为社员协商工伤问题</li>
				<li>技能提升</li>
				<li>就业安置</li>
				<li>农民积极入社</li>
			</ul>
		</div>
		
		<div class="titbreak">
			<span>定向培训</span>
			<p style="font-size:16px;font-weight:bold;">劳务合作社把农村大量就业困难的闲置劳动力组织起来，并统筹好农村剩余<br/>劳动力资源，通过技能培训，再对外承揽业务，从而促进农民就业增收。</p>
		</div>
		<div class="dingxiangPX"><img src="images/dingxiang.jpg" alt=""/></div>
		
		<div class="titbreak"><span>人员需求</span></div>
		<div class="xuqiu">
			<input class="btn" type="button" value="点击查看招聘岗位"/>
			<div class="baoM">
				<span>报名电话：</span>
				<ul>
					<li>0534-7364678</li>
					<li>0534-7296999</li>
				</ul>
			</div>
		</div>	
	</div>
	<!--微信浮窗-->
	<div class="popQQ WX">
		<h3>企业微信</h3>
		<ul>
			<li>糖城广场分店微信<br/>hexin17653434569 <img src="/images/tangchengguangchang17653434569.jpg" alt=""/></li>
			<li>禹王大市场分店微信<br/>18953451938 <img src="/images/yuwangdashichang18953451938.jpg" alt=""/></li>
			<li>山东国际商贸港分店<br/>15621237198 <img src="/images/shangmaogang15621237198.jpg" alt=""/></li>
		</ul>
	</div>
	
	<!--底部-->
	<div class="foot">
		<div class="main">
			<div class="fl leftTxt">
				<div class="fotnav">
					<a href="">首页</a>
					<a href="">联系我们</a>
					<a href="">投诉意见</a>
					<a href="">免费培训</a>
					<a href="">人才招聘</a>
					<a href="">连锁加盟</a>
					<a href="">寻求帮助</a>
				</div>
				<p>地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</p>
			</div>
			<div class="fr rightTxt">
				<img src="images/laifang.png" alt=""/>
				<div class="link">
					<p>友情链接：</p>
					<div class="friend">
						<a href="">中国家庭服务业协会</a>
						<a href="">山东妇女网</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
</body>
</html>
<script type="text/javascript">
	//劳务合作社轮播
	jQuery("#hezuo").slide({ mainCell:".piclist", effect:"leftLoop",vis:4,scroll:1,delayTime:800,trigger:"click",easing:"easeOutCirc"});

    $(function () {
        var companyContent1 = $("#companyContent1").text();
        $('#content_sn1').summernote('code', companyContent1);
        $('#content_sn1').summernote('destroy');
        var companyContent2 = $("#companyContent2").text();
        $('#content_sn2').summernote('code', companyContent2);
        $('#content_sn2').summernote('destroy');
    });

    $("ul.anli li").click(function(){
		window.location.href="/hezuo/anli/"+$(this).text();
	});
</script>