<!doctype html>
<html>
<head th:include="include :: header">
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>劳务合作社</title>
<link rel="stylesheet" href="css/css.css" type="text/css">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <div class="top">
    	<div class="main">
			<p class="fl"><img src="images/logo.png" alt=""/>一人就业 全家安心</p>
   			<span class="fr"><img src="images/zxrx.png" alt=""/></span>
    	</div>
	</div>
   	<div class="topnav">
    	<ul class="main">
    		<li><a href="/index.html">首页</a></li>
    		<li><a href="/rongyu">企业荣誉</a></li>
    		<li><a href="/jianjie.html">集团简介</a></li>
    		<li><a href="/fuwu.html">家政服务</a></li>
    		<li><a href="/xiaxiang.html">送技术下乡</a></li>
    		<li><a href="/peixun.html">技能培训</a></li>
    		<li class="on"><a href="/hezuo.html">劳务合作社</a></li>
    		<li><a href="/renli.html">人力资源</a></li>
    		<li><a href="/zhaoxian.html">招贤纳士</a></li>
    		<li><a href="/lianxi.html">联系我们</a></li>
    		<li><a href="/jiameng.html">合作加盟</a></li>
    	</ul>
    </div>
	<div class="main"><div class="breadNav">首页>劳务合作社>案例>项目详情页</div></div>
	<div class="main Anli">
		<div class="hd">
			<ul>
				<li>帮社员讨薪</li>
				<li>为社员协商工伤问题</li>
				<li>技能提升</li>
				<li>就业安置</li>
				<li>农民积极入社</li>
			</ul>
		</div>
		<div class="bd">
			<ul th:each= "list:${data}">
				<li th:each="l:${list.laowuAnliDOList}"><img th:src="${l.url}" alt=""/><p th:text="${l.laowuTitle}"></p>
					<input type="hidden" th:value="${l.id}">
				</li>
			</ul>
		</div>
	</div>
	<!--底部-->
	<div class="foot">
		<div class="main">
			<div class="fl leftTxt">
				<div class="fotnav">
					<a href="">首页</a>
					<a href="">联系我们</a>
					<a href="">投诉意见</a>
					<a href="">免费培训</a>
					<a href="">人才招聘</a>
					<a href="">连锁加盟</a>
					<a href="">寻求帮助</a>
				</div>
				<p>地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</p>
			</div>
			<div class="fr rightTxt">
				<img src="images/laifang.png" alt=""/>
				<div class="link">
					<p>友情链接：</p>
					<div class="friend">
						<a href="">中国家庭服务业协会</a>
						<a href="">山东妇女网</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
</body>
</html>
<script type="text/javascript">
	jQuery(".Anli").slide({trigger:"click"});
</script>
<script th:inline="javascript">
	var title=[[${title}]];
	$("div.hd ul > li").each(function(){
		if($(this).text()==title) {
            $(this).addClass("on").siblings().removeClass("on");
            $(this).click();
        }
	});

	$(".bd li").click(function(){
		var id = $(this).children("input").val();
		window.location.href="/hezuo/anli/detail/"+id;
	});
</script>