<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>首页</title>
<link rel="stylesheet" href="/css/css.css" type="text/css">
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <div class="top">
    	<div class="main">
			<p class="fl"><img src="images/logo.png" alt=""/>一人就业 全家安心</p>
   			<span class="fr"><img src="images/zxrx.png" alt=""/></span>
    	</div>
	</div>
   	<div class="topnav">
    	<ul class="main">
    		<li class="on"><a href="/index.html">首页</a></li>
    		<li><a href="/rongyu.html">企业荣誉</a></li>
    		<li><a href="/jianjie.html">集团简介</a></li>
    		<li><a href="/fuwu.html">家政服务</a></li>
    		<li><a href="/xiaxiang.html">送技术下乡</a></li>
			<li><a href="/peixun">技能培训</a></li>
    		<li><a href="/hezuo.html">劳务合作社</a></li>
			<li><a href="/renli.html">人力资源</a></li>
    		<li><a href="/zhaoxian.html">招贤纳士</a></li>
    		<li><a href="/lianxi.html">联系我们</a></li>
    		<li><a href="/jiameng.html">合作加盟</a></li>
    	</ul>
    </div>
    <!--头部轮播-->
    <div id="slideBox" class="slideBox">
		<div class="hd">
			<ul><li th:each="ba:${banner}"></li></ul>
		</div>
		<div class="bd">
			<ul>
				<li th:each="ba:${banner}">
					<a href=""><img th:src="${ba.url}" alt=""/></a>
				</li>
			</ul>
		</div>
		<!-- 下面是前/后按钮代码，如果不需要删除即可 -->
		<a class="prev" href="javascript:void(0)"></a>
		<a class="next" href="javascript:void(0)"></a>
	</div>
	<!--送技术下乡-->
	<div class="title"><span>送技术下乡</span><em>免费技能培训（指定科目）</em></div>
	<div class="main xiaX">
		<ul>
			<li><img src="images/xiaX-1.png" alt=""/>育婴员</li>
			<li><img src="images/xiaX-2.png" alt=""/>养老护理</li>
			<li><img src="images/xiaX-3.png" alt=""/>小儿推拿</li>
			<li><img src="images/xiaX-4.png" alt=""/>中式烹调</li>
			<li><img src="images/xiaX-5.png" alt=""/>中式面点</li>
			<li><img src="images/xiaX-6.png" alt=""/>营养配餐</li>
			<li><img src="images/xiaX-7.png" alt=""/>电工</li>
			<li><img src="images/xiaX-8.png" alt=""/>电焊</li>
			<li><img src="images/xiaX-9.png" alt=""/>美容</li>
			<li><img src="images/xiaX-10.png" alt=""/>美发</li>
			<li><img src="images/xiaX-11.png" alt=""/>高级母婴护理师</li>
			<li><img src="images/xiaX-12.png" alt=""/>电子商务专业</li>
		</ul>
	</div>
	<!--劳务合作社-->
	<div class="title"><span>劳务合作社</span></div>
	<div class="main scrollBox" id="hezuo">
		<div class="ohbox">
			<ul class="piclist" >
				<li th:each="hz:${hezuo}"><img th:src="${hz.url}" alt=""/></li>
			</ul>
		</div>
		<div class="pageBtn"> 
			<span class="prev"></span> 
			<span class="next"></span>
		</div>
	</div>
	<!--家政服务-->
	<div class="title"><span>家政服务</span></div>
	<div class="main fuwu">
		<ul>
			<li th:each="jia:${jiazheng}"><img th:src="${jia.url}" alt=""/><span th:text="${jia.fuwuName}"></span></li>
		</ul>
	</div>
	<!--关于我们-->
	<div class="title"><span>关于我们</span></div>
	<div class="main about">
		<img class="fl" src="images/jianjie.png" alt=""/>
		<div class="fr txt">
			<p>山东合心集团【AAA级信用单位】是一家集技能型人才培训，家政服务培训和外派人力资源管理等为一体的综合性服务机构，我们拥有专业的培训设计策划团队，将为您提供更优质的服务。山东合心家政服务集团有限公司的前身是禹城市职业介绍中心，自从1998年开始本单位一直从事人力资源开发及家政服务从业人员的培训安置工作。</p>
			<p>为扩大就业规范化经营，2016年单位法人范国瑞高中毕业后成立山东合心家政服务集团有限公司：2家人力资源公司（企业下设的人力资源公司：与本市农业农村局、税务局、总工会、农商银行、畜牧局、禹泽水利工程公司等10余家单位达成劳务代理、派遣合作300余人，社会保险参保率达90%以上。）、2家家政服务机构，2家培训机构等7家家庭服务类机构，集团内部设立培训机构，我们集中面对农村剩余劳动力和下岗职工的培训和再就业。企业下设的人力资源公司：与本市农业农村局、税务局、总工会、农商银行、畜牧局、禹泽水利工程公司等10余家单位达成劳务代理、派遣合作300余人，社会保险参保率达90%以上。</p>
		</div>
	</div>
	<!--企业荣誉-->
	<div class="title"><span>企业荣誉</span></div>
	<div class="main scrollBox" id="qiye">
		<div class="ohbox">
			<ul class="piclist">

				<li th:each="l:${rongyu}"><img th:src="${l.url}" alt=""/></li>
			</ul>
		</div>
		<div class="pageBtn"> 
			<span class="prev"></span> 
			<span class="next"></span>
		</div>
	</div>
	<!--合作加盟-->
	<div class="title"><span>合作加盟</span></div>
	<div class="main jiaM">
		<ul>
			<li><a href="jiameng.html"><img src="images/jiaM-1.png" alt=""/></a></li>
			<li><a href="jiameng.html"><img src="images/jiaM-2.png" alt=""/></a></li>
		</ul>
	</div>
	<!--底部-->
	<div class="foot">
		<div class="main">
			<div class="fl leftTxt">
				<div class="fotnav">
					<a href="">首页</a>
					<a href="lianxi.html">联系我们</a>
					<a href="lianxi.html">投诉意见</a>
					<a href="hezuo.html">免费培训</a>
					<a href="zhaoxian.html">人才招聘</a>
					<a href="jiameng.html">连锁加盟</a>
					<a href="jianjie.html">寻求帮助</a>
				</div>
				<p>地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</p>
			</div>
			<div class="fr rightTxt">
				<img src="images/laifang.png" alt=""/>
				<div class="link">
					<p>友情链接：</p>
					<div class="friend">
						<a href="">中国家庭服务业协会</a>
						<a href="">山东妇女网</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--点击咨询浮窗-->
	<!--<a href="" class="popZX"></a>-->
</body>
</html>
<script type="text/javascript">
	//头部轮播
	jQuery(".slideBox").slide({mainCell:".bd ul",autoPlay:true});
	//劳务合作社轮播
	jQuery("#hezuo").slide({ mainCell:".piclist", effect:"leftLoop",vis:4,scroll:1,delayTime:800,trigger:"click",easing:"easeOutCirc"});
	//企业荣誉轮播
	jQuery("#qiye").slide({ mainCell:".piclist", effect:"leftLoop",vis:4,scroll:1,delayTime:800,trigger:"click",easing:"easeOutCirc"});
	$("ul.main > li").click(function(){
		$(this).addClass("on").siblings().removeClass("on");
	});
</script>

<script>
	var _hmt = _hmt || [];
	(function()
		{   var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?c0d864d185b391d1613b9ad8306afbc5";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s); })();
</script>