<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>合作加盟</title>
<link rel="stylesheet" href="css/css.css" type="text/css">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <div class="top">
    	<div class="main">
			<p class="fl"><img src="images/logo.png" alt=""/>一人就业 全家安心</p>
   			<span class="fr"><img src="images/zxrx.png" alt=""/></span>
    	</div>
	</div>
   	<div class="topnav">
    	<ul class="main">
    		<li><a href="/index.html">首页</a></li>
    		<li><a href="/rongyu">企业荣誉</a></li>
    		<li><a href="/jianjie.html">集团简介</a></li>
    		<li><a href="/fuwu.html">家政服务</a></li>
    		<li><a href="/xiaxiang.html">送技术下乡</a></li>
			<li><a href="/peixun">技能培训</a></li>
    		<li><a href="/hezuo.html">劳务合作社</a></li>
			<li><a href="/renli.html">人力资源</a></li>
    		<li><a href="/zhaoxian.html">招贤纳士</a></li>
    		<li><a href="/lianxi.html">联系我们</a></li>
    		<li class="on"><a href="/jiameng.html">合作加盟</a></li>
    	</ul>
    </div>
	<!--合作加盟-->
	<div class="jiaM">
		<p>随着各企业的加入，公司规模不断壮大，现面向全国无门槛诚招加盟商，我们的宗旨是：<span>公司开到哪里我们就把爱心传递到哪里，精心打造合心品牌，实现抱团取暖，合作共赢。合心合力共创未来，欢迎您的加入！</span></p>
		<img src="images/jiamengPic.jpg" alt=""/>
	</div>
	<div class="titbreak"><span>公司直营店</span></div>
	<div class="main zhiying">
		<ul>
			<li th:each="ls:${list}">
				<img th:src="${ls.url}" alt=""/>
				<h3 th:text="${ls.jiamengName}">糖城广场分店</h3>
				<p>
					<span>电话：</span>
					<em th:text="${ls.jiamengPhone}">17653434569</em>
				</p>
				<p>
					<span>地址：</span>
					<em th:text="${ls.jiamengAddress}">山东省德州市禹城市盛雅依水苑商业街108铺</em>
				</p>
			</li>

			<!--<li>
				<img src="images/jiameng-1.jpg" alt=""/>
				<h3>糖城广场分店</h3>
				<p>
					<span>电话：</span>
					<em>17653434569</em>
				</p>
				<p>
					<span>地址：</span>
					<em>山东省德州市禹城市盛雅依水苑商业街108铺</em>
				</p>
			</li>
			<li>
				<img src="images/jiameng-2.jpg" alt=""/>
				<h3>禹王大市场分店</h3>
				<p>
					<span>电话：</span>
					<em>18953451938</em>
				</p>
				<p>
					<span>地址：</span>
					<em>山东省德州市禹城市开拓路中段路南（房管局对面）</em>
				</p>
			</li>
			<li>
				<img src="images/jiameng-1.jpg" alt=""/>
				<h3>山东国际商贸港分店</h3>
				<p>
					<span>电话：</span>
					<em>15621237198</em>
				</p>
				<p>
					<span>地址：</span>
					<em>山东国际商贸港A区B座D1馆102铺</em>
				</p>
			</li>
			<li>
				<img src="images/jiameng-2.jpg" alt=""/>
				<h3>北京市石景山区海特花园<br/>社区营业网点</h3>
				<p>
					<span>电话：</span>
					<em>15010215382</em>
				</p>
				<p>
					<span>地址：</span>
					<em>北京市石景山区海特花园社区57号楼3单元307号</em>
				</p>
			</li>
			<li>
				<img src="images/jiameng-1.jpg" alt=""/>
				<h3>北京市合心家政办事处</h3>
				<p>
					<span>电话：</span>
					<em>010-51956237</em>
				</p>
				<p>
					<span>地址：</span>
					<em>北京市石景山海特花园44号楼406</em>
				</p>
			</li>
			<li>
				<img src="images/jiameng-2.jpg" alt=""/>
				<h3>青岛西海岸新区莲花山社区分店</h3>
				<p>
					<span>电话：</span>
					<em>13156202077</em>
				</p>
				<p>
					<span>地址：</span>
					<em>青岛西海岸新区莲花山社区565号</em>
				</p>
			</li>
			<li>
				<img src="images/jiameng-2.jpg" alt=""/>
				<h3>青岛市四方区分店</h3>
				<p>
					<span>电话：</span>
					<em>18663925018</em>
				</p>
				<p>
					<span>地址：</span>
					<em>青岛市四方区杭州花园保利百合花园升平路小区</em>
				</p>
			</li>
			<li>
				<img src="images/jiameng-2.jpg" alt=""/>
				<h3>青岛李沧区分店</h3>
				<p>
					<span>电话：</span>
					<em>18953250047</em>
				</p>
				<p>
					<span>地址：</span>
					<em>青岛市李沧区福临家园百通馨苑卓越皇后道小区</em>
				</p>
			</li>
			<li>
				<img src="images/jiameng-2.jpg" alt=""/>
				<h3>济南市槐荫区分店</h3>
				<p>
					<span>电话：</span>
					<em>15865295168</em>
				</p>
				<p>
					<span>地址：</span>
					<em>济南市槐荫区美里路丽水华庭小区</em>
				</p>
			</li>
			<li>
				<img src="images/jiameng-2.jpg" alt=""/>
				<h3>济南市平阴县分店</h3>
				<p>
					<span>电话：</span>
					<em>18615311118</em>
				</p>
				<p>
					<span>地址：</span>
					<em>济南市平阴县府前街文鼎嘉苑南门梓皙专卖店</em>
				</p>
			</li>-->
		</ul>
	</div>
	<div class="titbreak"><span>加盟店</span></div>
	<input class="btn" type="button" value="加盟热线：400-7169-518">
	
	<!--底部-->
	<div class="foot">
		<div class="main">
			<div class="fl leftTxt">
				<div class="fotnav">
					<a href="">首页</a>
					<a href="">联系我们</a>
					<a href="">投诉意见</a>
					<a href="">免费培训</a>
					<a href="">人才招聘</a>
					<a href="">连锁加盟</a>
					<a href="">寻求帮助</a>
				</div>
				<p>地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</p>
			</div>
			<div class="fr rightTxt">
				<img src="images/laifang.png" alt=""/>
				<div class="link">
					<p>友情链接：</p>
					<div class="friend">
						<a href="">中国家庭服务业协会</a>
						<a href="">山东妇女网</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
	jQuery(".RYtableBox").slide({trigger:"click"});
</script>