<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>私人订制</title>
<link rel="stylesheet" href="css/css.css" type="text/css">
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>
    <div class="top">
    	<div class="main">
			<p class="fl"><img src="images/logo.png" alt=""/>一人就业 全家安心</p>
   			<span class="fr"><img src="images/zxrx.png" alt=""/></span>
    	</div>
	</div>
	<div class="topnav">
		<ul id="nav" class="nav clearfix">
			<li class="nLi on">
				<h3><a href="/index.html">首页</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/rongyu.html">企业荣誉</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/jianjie.html">集团简介</a></h3>
				<ul class="sub">
					<li><a href="#">企业文化</a></li>
					<li><a href="#">集团精神</a></li>
					<li><a href="#">集团愿景</a></li>
					<li><a href="#">集团理念</a></li>
					<li><a href="#">公司展示</a></li>
					<li><a href="#">社会责任</a></li>
					<li><a href="#">公司人员组织框架</a></li>
					<li><a href="#">慈善公益</a></li>
					<li><a href="#">学员风采</a></li>
				</ul>
			</li>
			<li  class="nLi">
				<h3><a href="/fuwu.html">家政服务</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/xiaxiang.html">送技术下乡</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/peixun">技能培训</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/hezuo.html">劳务合作社</a></h3>
				<ul class="sub">
					<li><a href="#">劳务合作社简介</a></li>
					<li><a href="#">合作社照片</a></li>
					<li><a href="#">合作社分社</a></li>
					<li><a href="#">合作社案例</a></li>
					<li><a href="#">定向培训</a></li>
					<li><a href="# ">人员需求</a></li>
				</ul>
			</li>
			<li  class="nLi">
				<h3><a href="/renli.html">人力资源</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/zhaoxian.html">招贤纳士</a></h3>
			</li>
			<li  class="nLi">
				<h3><a href="/lianxi.html">联系我们</a></h3>
				<ul class="sub">
					<li><a href="#">集团地址</a></li>
				</ul>
			</li>
			<li  class="nLi">
				<h3><a href="/jiameng.html">合作加盟</a></h3>
				<ul class="sub">
					<li><a href="#">公司直营店</a></li>
					<li><a href="#">加盟店</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<!--公益在行动-->
	<div class="main jiuYe">
		<div class="breadNav">首页>装饰工程>全屋私人定制设计>详情页</div>
		<div class="gongyiTxt">
			<img src="images/siren.jpg" alt=""/>
			<p>集团分公司山东春来顺装饰工程有限公司面对济南及德州地区（含各县乡镇）承接上门量房私人定制设计出图。</p>
     		<p>家装私人定制能够把家装和家具融合起来，更好的打造一个完美的家！室内设计效果图是室内设计师表达创意构思，并通过3D效果图制作软件，将创意构思进行形象化再现的形式。它通过对物体的造型、结构、色彩、质感等诸多因素的忠实表现，真实地再现设计师的创意，从而沟通设计师与观者之间视觉语言的联系，使人们更清楚地了解设计的各项性能、构造、材料。效果图使用户在装修起初直观的了解到装饰的效果，施工图使装修施工人员有据可依。</p>
     		<p>1993年出现了3DMAX的前身3DS，后来逐渐发展为3dmax，同期出现了photoshop的前身photostyler，使后期图片处理成为可能。从此室内设计效果图逐渐走向电脑化，由于技巧的不断成熟，绘制效果图的任务逐渐从设计师转移到绘图员，大多数绘图员变成了匠人。 室内设计效果图已经不是原来那种只把房子建起，东西摆放就可以的时代了，随着三维技术软件的成熟，从业务人员的水平越来越高，室内设计效果图基本可以与装修实景图媲美。室内设计效果图以及建筑设计效果图对美感的要求越来越高。色彩的搭配以及对材质的真实反映都上了一个台阶。</p>
		</div>
		<div class="anlitu">
			<h3>案例图</h3>
			<ul>
				<li><img src="images/sirenDZ-1.jpg" alt=""/><em></em></li>
				<li><img src="images/sirenDZ-2.jpg" alt=""/><em></em></li>
				<li><img src="images/sirenDZ-3.jpg" alt=""/><em></em></li>
				<li><img src="images/sirenDZ-4.jpg" alt=""/><em></em></li>
				<li><img src="images/sirenDZ-5.jpg" alt=""/><em></em></li>
				<li><img src="images/sirenDZ-6.jpg" alt=""/><em></em></li>
				<li><img src="images/sirenDZ-7.jpg" alt=""/><em></em></li>
				<li><img src="images/sirenDZ-8.jpg" alt=""/><em></em></li>
				<li><img src="images/sirenDZ-9.jpg" alt=""/><em></em></li>
			</ul>
		</div>
	</div>

	<!--底部-->
	<div class="foot">
		<div class="main">
			<div class="fl leftTxt">
				<div class="fotnav">
					<a href="">首页</a>
					<a href="">联系我们</a>
					<a href="">投诉意见</a>
					<a href="">免费培训</a>
					<a href="">人才招聘</a>
					<a href="">连锁加盟</a>
					<a href="">寻求帮助</a>
				</div>
				<p>地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</p>
			</div>
			<div class="fr rightTxt">
				<img src="images/laifang.png" alt=""/>
				<div class="link">
					<p>友情链接：</p>
					<div class="friend">
						<a href="">中国家庭服务业协会</a>
						<a href="">山东妇女网</a>
						<a href="">德州市人社局</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
