<!doctype html>
<html>
<head th:include="include :: header">
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>送技术下乡详情</title>
</head>
<body>
    <div class="top">
    	<div class="main">
			<p class="fl"><img src="images/logo.png" alt=""/>一人就业 全家安心</p>
   			<span class="fr"><img src="images/zxrx.png" alt=""/></span>
    	</div>
	</div>
   	<div class="topnav">
    	<ul class="main">
    		<li><a href="/index.html">首页</a></li>
    		<li><a href="/rongyu">企业荣誉</a></li>
    		<li><a href="/jianjie.html">集团简介</a></li>
    		<li><a href="/fuwu.html">家政服务</a></li>
    		<li class="on"><a href="/xiaxiang.html">送技术下乡</a></li>
    		<!--<li><a href="/peixun.html">技能培训</a></li>-->
    		<li><a href="/hezuo.html">劳务合作社</a></li>
    		<!--<li><a href="/renli.html">人力资源</a></li>
    		<li><a href="/zhaoxian.html">招贤纳士</a></li>-->
    		<li><a href="/lianxi.html">联系我们</a></li>
    		<li><a href="/jiameng.html">合作加盟</a></li>
    	</ul>
    </div>
	<!--家政服务-->
	<div class="main">
		<div class="breadNav">首页>送技术下乡>免费技能培训>项目详情页</div>
		<div class="yuying">		
			<h3 th:text="${list.trainingName}">育婴员</h3>
			<dl>
				<div id="companyContent" style="display: none" th:text="${list.trainingContent}"></div>
				<div class="ibox-content no-padding" style="border-color: #fff;">
					<div id="content_sn" class="summernote"></div>
				</div>
				<!--
				<dt>育婴师培训内容：</dt>
				<dd>1、0—3岁婴儿解剖及生理发育特点：呼吸系统、心血管系统、消化系统、泌尿系统、内分泌系统、运动系统、神经系统、感觉系统。</dd>
				<dd>2、0—3岁婴儿心理发展特点：感知觉能力、记忆能力、思维能力、想象能力、注意特性、人际交往能力、自我意识、情绪与情感、意志力、气质特征、言语能力。</dd>
				<dd>3、0—3岁婴儿营养：热能、营养素的基本知识、营养需要、膳食评价与营养行为。</dd>
				<dd>4、0—3岁婴儿教育：教育意义、教育特点与内容、教育原则与方法。</dd>
				<dd>5、相关法律、法规知识：宪法的相关知识、母婴保健法的相关知识、未成年人保护法的相关知识、儿童权利公约的相关知识、中国儿童发展纲要的相关知识、食品卫生法的相关知识、劳动法的相关知识。</dd>
			-->
			</dl>
			<input type="button" value="我要报名"/>
		</div>
	</div>
	
	<!--我要报名弹框-->
	<div class="pop">
		<div class="txt">
			<em>×</em>
			<h3>我要报名</h3>
			<div class="ewm"><img src="images/erweima.jpg" alt=""/>微信二维码</div>
			<p><span>手机号：13053434274</span><span>电话：0534-7296999</span></p>
		</div>
	</div>
	
	<!--底部-->
	<div class="foot">
		<div class="main">
			<div class="fl leftTxt">
				<div class="fotnav">
					<a href="">首页</a>
					<a href="">联系我们</a>
					<a href="">投诉意见</a>
					<a href="">免费培训</a>
					<a href="">人才招聘</a>
					<a href="">连锁加盟</a>
					<a href="">寻求帮助</a>
				</div>
				<p>地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</p>
			</div>
			<div class="fr rightTxt">
				<img src="images/laifang.png" alt=""/>
				<div class="link">
					<p>友情链接：</p>
					<div class="friend">
						<a href="">中国家庭服务业协会</a>
						<a href="">山东妇女网</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
</body>
</html>
<script type="text/javascript">
	//弹框
	$(".yuying input").click(function(){$(".pop").show();});
	$(".pop em").click(function(){$(".pop").hide();});

    $(function () {
        var companyContent = $("#companyContent").text();
        $('#content_sn').summernote('code', companyContent);
        $('#content_sn').summernote('destroy');
    })

</script>