<!doctype html>
<html>
<head  th:include="include :: header">
<meta charset="utf-8">
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>招贤纳士</title>
</head>
<body>
    <div class="top">
    	<div class="main">
			<p class="fl"><img src="images/logo.png" alt=""/>一人就业 全家安心</p>
   			<span class="fr"><img src="images/zxrx.png" alt=""/></span>
    	</div>
	</div>
   	<div class="topnav">
    	<ul class="main">
    		<li><a href="/index.html">首页</a></li>
    		<li><a href="/rongyu">企业荣誉</a></li>
    		<li><a href="/jianjie.html">集团简介</a></li>
    		<li><a href="/fuwu.html">家政服务</a></li>
    		<li><a href="/xiaxiang.html">送技术下乡</a></li>
			<li><a href="/peixun">技能培训</a></li>
    		<li><a href="/hezuo.html">劳务合作社</a></li>
			<li><a href="/renli.html">人力资源</a></li>
    		<li class="on"><a href="/zhaoxian.html">招贤纳士</a></li>
    		<li><a href="/lianxi.html">联系我们</a></li>
    		<li><a href="/jiameng.html">合作加盟</a></li>
    	</ul>
    </div>
	<!--招贤纳士-->
	<div class="main zhaoP">
		<img src="images/nashi.jpg" alt=""/>
		<h1>岗位招聘</h1>

		<div id="con"></div>

		<!--<div class="box">
			<h3>月嫂</h3>
			<dl>
				<dt>招聘招生对象：</dt>
				<dd>1、58岁以下，初中或初中以上文化，五官端正，身体健康，有爱心，责任心的女性。</dd>
				<dd>2、理论加实操滚动式培训，随到随学，老师手把手教学，提供上</dd>
			</dl>
			<span>我要应聘</span>
		</div>
		<div class="box">
			<h3>保姆</h3>
			<dl>
				<dt>招聘招生对象：</dt>
				<dd>年龄58岁以下，身体健康，为人诚信，会做家常菜，做事干净利落，会帮忙带孩子或照顾老人，提供免费培训，使其拥有育婴员或养老护理的资格证书。</dd>	
			</dl>
			<span>我要应聘</span>
		</div>
		<div class="box">
			<h3>保洁</h3>
			<dl>
				<dt>招聘简章：</dt>
				<dd>一、家庭保洁</dd>
				<dd>1.家庭住宅环境保洁，如：地面、阳台、墙面、厨房、卫生间、门窗、护栏等保洁及室内消毒。</dd>
				<dd>2.家庭生活设施及物品保洁，如：灶具、洁具、家具、电器、工具、玩具、衣物、窗帘等保洁。</dd>
				<dd>二、单位保洁</dd>
				<dd>1.仪容端正，着装整齐，服从公司的统一调度和工作安排。</dd>
				<dd>2.按公司要求高标准做好责任区内的清扫保洁工作。</dd>
				<dd>3.及时纠正责任区内装修垃圾及生活垃圾倒乱堆乱放行为。</dd>
				<dd>4.按时收集单位的生活垃圾，并清运至指定地点。定期对单位公共部位进行消毒。</dd>
				<dd>5.协助管理处做好单位安防工作，发现可疑人或事应立即向管理处负责人报告。</dd>
				<dd>6.负责收集住户或上班人员对单位环保及管理服务工作的意见和建议及时向领导汇报，做好责任区管理卫生宣传和管理工作台。</dd>	
			</dl>
			<span>我要应聘</span>
		</div>
		<div class="box">
			<h3>行政文员</h3>
			<dl>
				<dt>岗位职责：</dt>
				<dd>1.负责公司电话接听及转接，跟踪客户的情况及最新市场信息；</dd>
				<dd>2. 负责公司相关制度、政策的维护和监管；</dd>
				<dd>3. 负责办公室各部门办公后勤保障工作；</dd>
				<dd>4. 负责办公室内资料的整理、收集、分析、记录等；</dd>
				<dd>5. 积极参与团队合作，配合公司其他部门完成工作，完成公司分配工作。</dd>
			</dl>
			<dl>
				<dt>任职要求：</dt>
				<dd>1. 20-28岁，初中以上学历，有一年以上工作经验优先；优秀应届毕业生亦可考虑；</dd>
				<dd>2. 熟练使用办公软件和办公自动化设备；</dd>
				<dd>3. 责任心强，工作细致，有团队合作精神。</dd>
			</dl>
			<span>我要应聘</span>
		</div>
		<div class="box">
			<h3>保安</h3>
			<dl>
				<dt>任职要求：</dt>
				<dd>1.年龄60岁以下</dd>
				<dd>2.责任心强，服从管理</dd>
				<dd>3.身体健康，退伍军人及有保安经验者优先</dd>	
			</dl>
			<span>我要应聘</span>
		</div>
		<div class="box">
			<h3>养老护理</h3>
			<dl>
				<dt>招聘招生对象：</dt>
				<dd>年龄58岁以下，身体健康，为人诚信，会做家常菜，做事干净利落，会帮忙照顾老人，提供免费培训，使其拥有养老护理的资格证书。</dd>	
			</dl>
			<span>我要应聘</span>
		</div>
		<div class="box">
			<h3>财务人员</h3>
			<dl>
				<dt>任职要求：</dt>
				<dd>1.会计相关专业，专业成绩优秀</dd>
				<dd>2.有强大的责任心，能及时完成被布置的任务</dd>
				<dd>3.具有较强的沟通能力和抗压能力</dd>
				<dd>4.思想健康，品行端正，无不良记录</dd>	
			</dl>
			<span>我要应聘</span>
		</div>-->
	</div>
	<div class="telephone">报名电话：<span>0534-7364678</span> <span>0534-7296999</span></div>
	
	<!--报名弹框-->
	<div class="pop">
		<div class="txt">
			<em>×</em>
			<h3>我要应聘联系我们</h3>
			<div class="ewm"><img src="images/erweima.jpg" alt=""/>微信二维码</div>
			<p><span>手机号：13053434274</span><span>电话：0534-7296999</span></p>
		</div>
	</div>

	<!--微信浮窗-->
	<div class="popQQ WX">
		<h3>企业微信</h3>
		<ul>
			<li>糖城广场分店微信<br/>hexin17653434569 <img src="/images/tangchengguangchang17653434569.jpg" alt=""/></li>
			<li>禹王大市场分店微信<br/>18953451938 <img src="/images/yuwangdashichang18953451938.jpg" alt=""/></li>
			<li>山东国际商贸港分店<br/>15621237198 <img src="/images/shangmaogang15621237198.jpg" alt=""/></li>
		</ul>
	</div>

	<!--底部-->
	<div class="foot">
		<div class="main">
			<div class="fl leftTxt">
				<div class="fotnav">
					<a href="">首页</a>
					<a href="">联系我们</a>
					<a href="">投诉意见</a>
					<a href="">免费培训</a>
					<a href="">人才招聘</a>
					<a href="">连锁加盟</a>
					<a href="">寻求帮助</a>
				</div>
				<p>地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</p>
			</div>
			<div class="fr rightTxt">
				<img src="images/laifang.png" alt=""/>
				<div class="link">
					<p>友情链接：</p>
					<div class="friend">
						<a href="">中国家庭服务业协会</a>
						<a href="">山东妇女网</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
						<a href="">德州市人社局</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include::footer"></div>
</body>
</html>
<script type="text/javascript">


    $.ajax({
        cache : true,
        type:"Get",
        url:"/getzhaoxianlist",
        error : function(res){

        },
        success:function(data){
            if (data.length>0){
                var html = "";
                for (var i = data.length-1;i>=0;i--){
                    html += '<div class="box" style="height: 588px;">'
                    html += '   <h3>'+data[i].title+'</h3>'
                    html += '	<dl>'
                    html += '        <dd class="ibox-content no-padding" style="border-color: #fff;">'
                    html += '        <div id="content_sn'+data[i].id+'" class="summernote"></div>'
                    html += '        </dd>'
                    html += '    </dl>'
                    html += '    <span>我要应聘</span>'
                    html += '</div>'
                }
                $("#con").html(html);
                for(var i = 0 ; i<data.length;i++){
                    $('#content_sn'+data[i].id).summernote('code', data[i].content);
                    $('#content_sn'+data[i].id).summernote('destroy');
                }
            }
        }
    })


    //弹框
    $(".zhaoP #con").on('click','.box span',function(){$(".pop").show();});
    $(".pop em").click(function(){$(".pop").hide();});
</script>