<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${jiamengStore.id}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">名称：</label>
								<div class="col-sm-8">
									<input id="jiamengName" name="jiamengName" th:value="${jiamengStore.jiamengName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">类型：</label>
								<div class="col-sm-8">
									<select name="jiamengType" id="jiamengType" data-placeholder="选择类型" class="form-control chosen-select" tabindex="2" style="width: 100%">
										<option value="ZHIYING_DIAN" th:selected="${jiamengStore.jiamengType='ZHIYING_DIAN'}">直营店</option>
										<option value="JIAMENG_DIAN" th:selected="${jiamengStore.jiamengType='JIAMENG_DIAN'}">加盟店</option>
									</select>
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">电话：</label>
								<div class="col-sm-8">
									<input id="jiamengPhone" name="jiamengPhone" th:value="${jiamengStore.jiamengPhone}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">微信：</label>
								<div class="col-sm-8">
									<input id="weixin" name="weixin" class="form-control" type="text" th:value="${jiamengStore.weixin}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">QQ：</label>
								<div class="col-sm-8">
									<input id="QQ" name="QQ" class="form-control" type="text" th:value="${jiamengStore.QQ}">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">地址：</label>
								<div class="col-sm-8">
									<input id="jiamengAddress" name="jiamengAddress" th:value="${jiamengStore.jiamengAddress}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">上传图片：</label>
								<div class="col-sm-8">
									<input class="form-control" id="imgFile" style="display: none;" type="file" name="imgFile" onchange="udpateFileUrl(this)" />
									<label for="imgFile"><img width="100" height="100" id="fileImgimgFile" alt="点击上传图片" th:src="${jiamengStore.url}"></label>
									<span style="color: red;">(750*718)</span>
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/information/jiamengStore/edit.js"></script>
	<script>
        function udpateFileUrl(obj){
            var fileURL = getObjectURL(obj.files[0]);
            if(fileURL) {
                $("#fileImgimgFile").attr("src", fileURL) ;
            }
        }

        //建立一個可存取到該file的url
        function getObjectURL(file) {
            var url = null ;
            if (window.createObjectURL!=undefined) { // basic
                url = window.createObjectURL(file) ;
            } else if (window.URL!=undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file) ;
            } else if (window.webkitURL!=undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file) ;
            }
            return url;
        }

        $("[name='type']").change(function(){
            var text=$("[name='type'] :checked").text();
            $("#typeName").val(text);
        });
	</script>
</body>
</html>
