<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hexinjituan.information.dao.RespurcesDao">

	<select id="get" resultType="com.hexinjituan.information.domain.RespurcesDO">
		select `id`,`deleted`,`update_time`,`create_time`,`url`,`renli_guihua`,`iurl`,`laowu_paiquan` from renli_respurces where id = #{value}
	</select>

	<select id="list" resultType="com.hexinjituan.information.domain.RespurcesDO">
		select `id`,`deleted`,`update_time`,`create_time`,`url`,`renli_guihua`,`iurl`,`laowu_paiquan` from renli_respurces
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="renliGuihua != null and renliGuihua != ''"> and renli_guihua = #{renliGuihua} </if>
		  		  <if test="iurl != null and iurl != ''"> and iurl = #{iurl} </if>
		  		  <if test="laowuPaiquan != null and laowuPaiquan != ''"> and laowu_paiquan = #{laowuPaiquan} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from renli_respurces
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		  <if test="updateTime != null and updateTime != ''"> and update_time = #{updateTime} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="url != null and url != ''"> and url = #{url} </if>
		  		  <if test="renliGuihua != null and renliGuihua != ''"> and renli_guihua = #{renliGuihua} </if>
		  		  <if test="iurl != null and iurl != ''"> and iurl = #{iurl} </if>
		  		  <if test="laowuPaiquan != null and laowuPaiquan != ''"> and laowu_paiquan = #{laowuPaiquan} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.hexinjituan.information.domain.RespurcesDO" useGeneratedKeys="true" keyProperty="id">
		insert into renli_respurces
		(
			`deleted`, 
			`update_time`, 
			`create_time`, 
			`url`, 
			`renli_guihua`, 
			`iurl`, 
			`laowu_paiquan`
		)
		values
		(
			#{deleted}, 
			#{updateTime}, 
			#{createTime}, 
			#{url}, 
			#{renliGuihua}, 
			#{iurl}, 
			#{laowuPaiquan}
		)
	</insert>
	 
	<update id="update" parameterType="com.hexinjituan.information.domain.RespurcesDO">
		update renli_respurces 
		<set>
			<if test="deleted != null">`deleted` = #{deleted}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="renliGuihua != null">`renli_guihua` = #{renliGuihua}, </if>
			<if test="iurl != null">`iurl` = #{iurl}, </if>
			<if test="laowuPaiquan != null">`laowu_paiquan` = #{laowuPaiquan}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from renli_respurces where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from renli_respurces where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>