<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hexinjituan.information.dao.LeaveMsgDao">

	<select id="get" resultType="com.hexinjituan.information.domain.LeaveMsgDO">
		select `id`,`deleted`,`create_time`,`leave_name`,`phone`,`content` from leave_msg where id = #{value}
	</select>

	<select id="list" resultType="com.hexinjituan.information.domain.LeaveMsgDO">
		select `id`,`deleted`,`create_time`,`leave_name`,`phone`,`content` from leave_msg
        where deleted=0
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="leaveName != null and leaveName != ''"> and leave_name = #{leaveName} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>

        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from leave_msg
		where deleted=0
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="deleted != null and deleted != ''"> and deleted = #{deleted} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="leaveName != null and leaveName != ''"> and leave_name = #{leaveName} </if>
		  		  <if test="phone != null and phone != ''"> and phone = #{phone} </if>
		  		  <if test="content != null and content != ''"> and content = #{content} </if>

	</select>
	 
	<insert id="save" parameterType="com.hexinjituan.information.domain.LeaveMsgDO" useGeneratedKeys="true" keyProperty="id">
		insert into leave_msg
		(
			`deleted`, 
			`create_time`, 
			`leave_name`, 
			`phone`, 
			`content`
		)
		values
		(
			#{deleted}, 
			#{createTime}, 
			#{leaveName}, 
			#{phone}, 
			#{content}
		)
	</insert>
	 
	<update id="update" parameterType="com.hexinjituan.information.domain.LeaveMsgDO">
		update leave_msg 
		<set>
			<if test="deleted != null">`deleted` = #{deleted}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="leaveName != null">`leave_name` = #{leaveName}, </if>
			<if test="phone != null">`phone` = #{phone}, </if>
			<if test="content != null">`content` = #{content}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from leave_msg where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from leave_msg where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>