<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content "   th:fragment="copy">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<input type="hidden" name="gongyiClass" value="GONGYI_XINGDONG">
							<div class="form-group">
								<div class="col-sm-9">
									<div class="ibox-content no-padding">
										<div id="content_sn" class="summernote"></div>
									</div>
									<input id="gongchengContent" name="gongchengContent" class="form-control" type="hidden" th:value="${data.gongchengContent}">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button onclick="bj()" class="btn btn-primary">提交</button>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
</body>
</html>
