<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div>
	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a class="btn btn-default btn-xs" href="#gongyizaixingdong" mce_href="#" style="text-decoration: none;">公益在行动</a></li>
		<li><a class="btn btn-primary btn-xs" href="#juankuananli" mce_href="#" style="text-decoration: none;">慈善捐款案例</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active " id="gongyizaixingdong">
			<div class="ibox-body">
				<div th:include="/information/companyGongyi/addz::copy"  ></div>
			</div>
		</div>

		<div class="tab-pane" id="juankuananli">
			<div class="ibox-body">
				<div class="fixed-table-toolbar">
					<div class="columns pull-left">
						<button type="button" class="btn btn-default" onclick="add()"> 添加案例 </button>
					</div>
				</div>
				<table id="exampleTable" data-mobile-responsive="true">
				</table>
			</div>
		</div>
	</div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="information:companyGongyi:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:companyGongyi:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="information:companyGongyi:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/information/companyGongyi/companyGongyi.js"></script>
	<script type="text/javascript" src="/js/appjs/information/companyGongyi/gongyizaixingdong.js"></script>
	<script>

        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
	</script>
<script>
    $('.summernote').summernote({
        height : '700px',
        lang : 'zh-CN',
        toolbar: [
            //<!--字体工具-->
            ['fontname', ['fontname']], //字体系列
            ['style', ['bold', 'italic', 'underline', 'clear']], // 字体粗体、字体斜体、字体下划线、字体格式清除
            ['fontsize', ['fontsize']], //字体大小
            ['color', ['color']], //字体颜色

            //<!--段落工具-->
            ['style', ['style']],//样式
            ['para', ['ul', 'ol', 'paragraph']], //无序列表、有序列表、段落对齐方式
            ['height', ['height']], //行高

            //<!--插入工具-->
            ['table',['table']], //插入表格
            ['hr',['hr']],//插入水平线
            ['link',['link']], //插入链接
            ['picture',['picture']], //插入图片

            //<!--其它-->
            ['fullscreen',['fullscreen']], //全屏
            ['codeview',['codeview']], //查看html代码
            ['help',['help']], //帮助
        ],
        callbacks: {
            onImageUpload: function(files, editor, $editable) {
                sendFile(files);
            },
            onPaste: function (ne) {
                var bufferText = ((ne.originalEvent || ne).clipboardData || window.clipboardData).getData('Text/plain');
                ne.preventDefault ? ne.preventDefault() : (ne.returnValue = false);
                setTimeout(function () {
                    document.execCommand("insertText", false, bufferText);
                }, 10);
            }
        }
    });
    $('#content_sn').summernote('code',  $("#content_sn").parent().next().val());
    function bj() {
        var content_sn = $("#content_sn").summernote('code');
        $("#gongchengContent").val(content_sn);
        $.ajax({
            cache : true,
            type : "POST",
            url : "/information/companyGongyi/save",
            data : $('#signupForm').serialize(), // 你的formid
            async : false,
            error : function(request) {
                parent.layer.alert("Connection error");
            },
            success : function(data) {
                if (data.code == 0) {
                    parent.layer.msg("操作成功");
                    parent.reLoadz();
                    var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                    parent.layer.close(index);

                } else {
                    parent.layer.alert(data.msg)
                }
            }
        });
    }
</script>
</body>
</html>