<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="id" name="id" th:value="${companyGongyi.id}"  type="hidden">
							<input type="hidden" name="gongyiClass" value="公益在行动">
							<div class="form-group">
								<div class="col-sm-9">
									<div class="ibox-content no-padding">
										<div id="content_sn" class="summernote"></div>
									</div>
									<input id="gongchengContent" name="gongchengContent" th:value="${companyGongyi.gongchengContent}" class="form-control" type="hidden">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button onclick="bj()" class="btn btn-primary">编辑</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script>
        function udpateFileUrl(obj){
            var fileURL = getObjectURL(obj.files[0]);
            if(fileURL) {
                $("#fileImgimgFile").attr("src", fileURL) ;
            }
        }

        //建立一個可存取到該file的url
        function getObjectURL(file) {
            var url = null ;
            if (window.createObjectURL!=undefined) { // basic
                url = window.createObjectURL(file) ;
            } else if (window.URL!=undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file) ;
            } else if (window.webkitURL!=undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file) ;
            }
            return url;
        }

        $("[name='type']").change(function(){
            var text=$("[name='type'] :checked").text();
            $("#typeName").val(text);
        });

        $('.summernote').summernote({
            height : '700px',
            lang : 'zh-CN',
            callbacks: {
                onImageUpload: function(files, editor, $editable) {
                    sendFile(files);
                },
                onPaste: function (ne) {
                    var bufferText = ((ne.originalEvent || ne).clipboardData || window.clipboardData).getData('Text/plain');
                    ne.preventDefault ? ne.preventDefault() : (ne.returnValue = false);
                    setTimeout(function () {
                        document.execCommand("insertText", false, bufferText);
                    }, 10);
                }
            }
        });
        $('#content_sn').summernote('code',  $("#gongchengContent").val());

        function bj() {
            var content_sn = $("#content_sn").summernote('code');
            $("#gongchengContent").val(content_sn);
            $.ajax({
                cache : true,
                type : "POST",
                url : "/information/companyGongyi/update",
                data : $('#signupForm').serialize(), // 你的formid
                async : false,
                error : function(request) {
                    parent.layer.alert("Connection error");
                },
                success : function(data) {
                    if (data.code == 0) {
                        parent.layer.msg("操作成功");
                        parent.reLoadz();
                        var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                        parent.layer.close(index);

                    } else {
                        parent.layer.alert(data.msg)
                    }

                }
            });
        }
	</script>
</body>
</html>
