<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/css/base.css" type="text/css">
<title>家政服务</title>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="/js/Font.js"></script>
</head>
<body>
<!--头部-->
<div class="top">
	<p class="fl font-26">一人就业 全家安心</p>
	<img class="fr" src="/images/Tel.png" alt=""/>
</div>

<div class="fuwuZL font-28">
	<h3 th:text="${fuwuDO.fuwuName}">家政服务</h3>
	<div id="companyContent" style="display: none" th:text="${fuwuDO.gongchengDetail}"></div>
	<div class="txt bgW" id="content_sn">

	</div>
	<div class="anniuS bgW">
		<input type="button" value="立即预约"/>
		<input type="button" value="立即参与"/>
	</div>
	<ul>
		<li th:each="ul:${url}"><img th:src="${ul}" alt=""/></li>
	</ul>
</div>

<!--预约弹框-->
<div class="pop font-24">
	<div class="txt">
		<em>×</em>
		<h3>立即预约</h3>
		<div class="ewm"><img src="/images/erweima.jpg" alt=""/>微信二维码</div>
		<p><span>手机号：13053434274</span><span>电话：0534-7296999</span></p>
	</div>
</div>

<div class="fotNav font-24 p20">
	<ul>
		<li><a href="">首页</a></li>
		<li><a href="">联系我们</a></li>
		<li><a href="">投诉意见</a></li>
		<li><a href="">免费培训</a></li>
		<li><a href="">人才招聘</a></li>
		<li><a href="">合作加盟</a></li>
		<li><a href="">寻求帮助</a></li>
	</ul>
	<p>最近访客</p>
	<dl>
		<dt>友情链接：</dt>
		<dd>中国家庭服务业协会</dd>
		<dd>山东妇女网</dd>
		<dd>德州市人社局</dd>
		<dd>德州市人力资源部</dd>
	</dl>
	<div class="address">地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</div>
</div>

<div id="back-to-top"></div>

</body>
<div th:include="include::footer"></div>
</html>
<script type="text/javascript">
	//弹框
	$(".anniuS input").click(function(){$(".pop").show();});
	$(".pop em").click(function(){$(".pop").hide();});
	
	//-------一键回顶部----------
	 $(document).ready(function(){
	  //首先将#back-to-top隐藏
	  $("#back-to-top").hide();
	  //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
	  $(function () {
		$(window).scroll(function(){
		if ($(window).scrollTop()>100){
		$("#back-to-top").fadeIn(100);
		}
		else
		{
		$("#back-to-top").fadeOut(100);
		}
		});
		//当点击跳转链接后，回到页面顶部位置
		$("#back-to-top").click(function(){
		$('body,html').animate({scrollTop:0},"speed");
		return false;
		});
		});
		});
    $(function () {
        var companyContent = $("#companyContent").text();
        $('#content_sn').summernote('code', companyContent);
        $('#content_sn').summernote('destroy');
    });
 </script>


