<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/base.css" type="text/css">
<title>首页</title>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="js/Font.js"></script>
</head>
<body>
<!--头部-->
<div class="top">
	<p class="fl font-26">一人就业 全家安心</p>
	<img class="fr" src="images/Tel.png" alt=""/>
</div>
<!--头部轮播-->
<div id="focus" class="focus">
    <div class="hd"><ul></ul></div>
    <div class="bd">
        <ul>
			<li th:each="ba:${banner}">
				<a href=""><img th:src="${ba.url}" alt=""/></a>
			</li>
        </ul>
    </div>
</div>

<div class="topNav font-20 bgW p20 m6">
	<ul>
		<a href="/index.html"><li>首页</li></a>
		<a href="/rongyu.html"><li>企业荣誉</li></a>
		<a href="/jianjie.html"><li>集团简介</li></a>
		<a href="/fuwu.html"><li>家政服务</li></a>
		<a href="/xiaxiang.html"><li>送技术下乡</li></a>
		<a href="/peixun"><li>技能培训</li></a>
		<a href="/hezuo.html"><li>劳务合作社</li></a>
		<a href="/renli.html"><li>人力资源</li></a>
		<a href="/zhuangshi.html"><li>装饰工程</li></a>
		<a href="/zhaoxian.html"><li>招贤纳士</li></a>
		<a href="/lianxi.html"><li>联系我们</li></a>
		<a href="/jiameng.html"><li>合作加盟</li></a>
	</ul>
</div>

<div class="xiaxiang bgW p20 m6 font-22 ov">
	<div class="title font-30"><span>送技术下乡</span><p>免费技能培训（指定科目）</p></div>
	<ul>
		<li><a th:href="@{'/peixunxiangqing?name='+育婴员}"><img src="images/xiaX-1.png" alt=""/>育婴员</a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+养老护理}"><img src="images/xiaX-2.png" alt=""/>养老护理</a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+小儿推拿}"><img src="images/xiaX-3.png" alt=""/>小儿推拿</a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+中式烹调}"><img src="images/xiaX-4.png" alt=""/>中式烹调</a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+中式面点}"><img src="images/xiaX-5.png" alt=""/>中式面点</a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+营养配餐}"><img src="images/xiaX-6.png" alt=""/>营养配餐</a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+电工}"><img src="images/xiaX-7.png" alt=""/>电工</a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+电焊}"><img src="images/xiaX-8.png" alt=""/>电焊</a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+美容}"><img src="images/xiaX-9.png" alt=""/>美容</a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+美发}"><img src="images/xiaX-10.png" alt=""/>美发</a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+高级母婴护理师}"><img src="images/xiaX-11.png" alt=""/>高级母婴护理师</a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+电子商务}"><img src="images/xiaX-12.png" alt=""/>电子商务专业</a></li>
	</ul>
</div>

<div class="hezuoshe bgW p20 m6 ov">
	<div class="title font-30"><span>劳务合作社</span></div>
	<ul>
		<li th:each="hz:${hezuo}"><img th:src="${hz.url}" alt=""/></li>
	</ul>
</div>

<div class="fuwu bgW p20 m6 ov">
	<div class="title font-30"><span>家政服务</span></div>
	<ul>
		<li th:each="jia:${jiazheng}"><img th:src="${jia.url}" alt=""/><span th:text="${jia.fuwuName}"></span></li>
	</ul>
</div>

<div class="about bgW p20 m6 font-28">
	<div class="title font-30"><span>关于我们</span></div>
	<img src="images/about.jpg" alt=""/>
	<p>山东合心集团【AAA级信用单位】是一家集技能型人才培训，家政服务培训和外派人力资源管理等为一体的综合性服务机构，我们拥有专业的培训设计策划团队，将为您提供更优质的服务。山东合心家政服务集团有限公司的前身是禹城市职业介绍中心，自从1998年开始本单位一直从事人力资源开发及家政服务从业人员的培训安置工作。</p>
</div>

<div class="hezuoshe bgW p20 m6 ov">
	<div class="title font-30"><span>企业荣誉</span></div>
	<ul>
		<li th:each="ry:${rongyu}"><img  th:src="${ry.url}" alt=""/></li>
	</ul>
</div>

<div class="jiameng bgW p20 m6">
	<div class="title font-30"><span>连锁加盟</span></div>
	<ul>
		<li><a href="/jiameng"><img src="images/jiaM-1.png" alt=""/></a></li>
		<li><a href="/jiameng"><img src="images/jiaM-2.png" alt=""/></a></li>
	</ul>
</div>

<div class="fotNav font-24 p20">
	<ul>
		<li><a href="/index.html">首页</a></li>
		<li><a href="/lianxi.html">联系我们</a></li>
		<li><a href="">投诉意见</a></li>
		<li><a href="/peixun">免费培训</a></li>
		<li><a href="/zhaoxian.html">人才招聘</a></li>
		<li><a href="/jiameng.html">合作加盟</a></li>
		<li><a href="">寻求帮助</a></li>
	</ul>
	<p>最近访客</p>
	<dl>
		<dt>友情链接：</dt>
		<dd><a href="http://wang119665.qiyegongqiu.net/">中国家庭服务业协会</a></dd>
		<dd><a href="http://www.sdwomen.org.cn/">山东妇女网</a></dd>
		<dd><a href="http://hrss.dezhou.gov.cn/">德州市人社局</a></dd>
		<dd>德州市人力资源部</dd>
	</dl>
	<div class="address">地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</div>
</div>

<div id="back-to-top"></div>

</body>
</html>
<script type="text/javascript">
	//---------头部轮播--------
    TouchSlide({ 
        slideCell:"#focus",
        titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
        mainCell:".bd ul", 
        effect:"left", 
        autoPlay:true,//自动播放
        autoPage:true, //自动分页c" 
    });
	//-------一键回顶部----------
	 $(document).ready(function(){
	  //首先将#back-to-top隐藏
	  $("#back-to-top").hide();
	  //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
	  $(function () {
		$(window).scroll(function(){
		if ($(window).scrollTop()>100){
		$("#back-to-top").fadeIn(100);
		}
		else
		{
		$("#back-to-top").fadeOut(100);
		}
		});
		//当点击跳转链接后，回到页面顶部位置
		$("#back-to-top").click(function(){
		$('body,html').animate({scrollTop:0},"speed");
		return false;
		});
		});
		});
 </script>


