<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/base.css" type="text/css">
<title>合作加盟</title>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="js/Font.js"></script>
</head>
<body>
<!--头部-->
<div class="top">
	<p class="fl font-26">一人就业 全家安心</p>
	<img class="fr" src="images/Tel.png" alt=""/>
</div>

<div class="topNav font-20 bgW p20 m6">
	<ul>
		<a href="/index.html"><li>首页</li></a>
		<a href="/rongyu.html"><li>企业荣誉</li></a>
		<a href="/jianjie.html"><li>集团简介</li></a>
		<a href="/fuwu.html"><li>家政服务</li></a>
		<a href="/xiaxiang.html"><li>送技术下乡</li></a>
		<a href="/peixun"><li>技能培训</li></a>
		<a href="/hezuo.html"><li>劳务合作社</li></a>
		<a href="/renli.html"><li>人力资源</li></a>
		<a href="/zhuangshi.html"><li>装饰工程</li></a>
		<a href="/zhaoxian.html"><li>招贤纳士</li></a>
		<a href="/lianxi.html"><li>联系我们</li></a>
		<a href="/jiameng.html"><li>合作加盟</li></a>
	</ul>
</div>

<div class="hzJM font-24 bgW p20 m6">
	<div class="SMtit">合作加盟</div>
	<p>随着各企业的加入，公司规模不断壮大，现面向全国无门槛诚招加盟商，我们的宗旨是：</p>
	<span>公司开到哪里我们就把爱心传递到哪里，精心打造合心品牌，实现抱团取暖，合作共赢。合心合力共创未来，欢迎您的加入！</span>
</div>
<div class="jiaM1 bgW m6">
	<img src="/images/hezuojiameng.jpg" alt=""/>
</div>

<div class="zhiying bgW p20 font-22 m6 ov">
	<div class="SMtit">公司直营店</div>
	<ul>

		<li th:each="ls:${list}">
			<img th:src="${ls.url}" alt=""/>
			<h3 th:text="${ls.jiamengName}">糖城广场分店</h3>
			<p>
				<span>电话：</span>
				<em th:text="${ls.jiamengPhone}">17653434569</em>
			</p>
			<p>
				<span>地址：</span>
				<em th:text="${ls.jiamengAddress}">山东省德州市禹城市盛雅依水苑商业街108铺</em>
			</p>
		</li>
	</ul>
</div>

<div class="zhiying bgW p20 font-22 m6 ov"><div class="SMtit">加盟店</div>

	<ul>

		<li th:each="ls:${list1}">
			<img th:src="${ls.url}" alt=""/>
			<h3 th:text="${ls.jiamengName}">糖城广场分店</h3>
			<p>
				<span>电话：</span>
				<em th:text="${ls.jiamengPhone}">17653434569</em>
			</p>
			<p>
				<span>地址：</span>
				<em th:text="${ls.jiamengAddress}">山东省德州市禹城市盛雅依水苑商业街108铺</em>
			</p>
		</li>
	</ul>
</div>
<div class="JMbtn bgW">
	<input type="button" value="加盟热线：400-7169-518">
</div>


<div class="fotNav font-24 p20">
	<ul>
		<li><a href="">首页</a></li>
		<li><a href="">联系我们</a></li>
		<li><a href="">投诉意见</a></li>
		<li><a href="">免费培训</a></li>
		<li><a href="">人才招聘</a></li>
		<li><a href="">合作加盟</a></li>
		<li><a href="">寻求帮助</a></li>
	</ul>
	<p>最近访客</p>
	<dl>
		<dt>友情链接：</dt>
		<dd>中国家庭服务业协会</dd>
		<dd>山东妇女网</dd>
		<dd>德州市人社局</dd>
		<dd>德州市人力资源部</dd>
	</dl>
	<div class="address">地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</div>
</div>

<div id="back-to-top"></div>

</body>
</html>
<script type="text/javascript">
	$("#show").click(function(){
		$(".jianjie .txt .none").show();
	});
	
	//-------一键回顶部----------
	 $(document).ready(function(){
	  //首先将#back-to-top隐藏
	  $("#back-to-top").hide();
	  //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
	  $(function () {
		$(window).scroll(function(){
		if ($(window).scrollTop()>100){
		$("#back-to-top").fadeIn(100);
		}
		else
		{
		$("#back-to-top").fadeOut(100);
		}
		});
		//当点击跳转链接后，回到页面顶部位置
		$("#back-to-top").click(function(){
		$('body,html').animate({scrollTop:0},"speed");
		return false;
		});
		});
		});
 </script>


