<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/base.css" type="text/css">
<title>集团简介</title>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="js/Font.js"></script>
</head>
<body>
<!--头部-->
<div class="top">
	<p class="fl font-26">一人就业 全家安心</p>
	<img class="fr" src="images/Tel.png" alt=""/>
</div>

<div class="topNav font-20 bgW p20 m6">
	<ul>
		<li><a href="">首页</a></li>
		<li><a href="">企业荣誉</a></li>
		<li><a href="">集团简介</a></li>
		<li><a href="">家政服务</a></li>
		<li><a href="">送技术下乡</a></li>
		<li><a href="">技能培训</a></li>
		<li><a href="">劳务合作社</a></li>
		<li><a href="">人力资源</a></li>
		<li><a href="">装饰工程</a></li>
		<li><a href="">招贤纳士</a></li>
		<li><a href="">联系我们</a></li>
		<li><a href="">合作加盟</a></li>
	</ul>
</div>

<div class="jianjie font-28 bgW m6 p20">
	<div class="SMtit">集团简介</div>
	<img src="images/about.jpg" alt=""/>
	<div class="txt">
		<h3>简介</h3>
		<p>山东合心集团【AAA级信用单位】是一家集技能型人才培训，家政服务培训和外派人力资源管理等为一体的综合性服务机构，我们拥有专业的培训设计策划团队，将为您提供更优质的服务。山东合心家政服务集团有限公司的前身是禹城市职业介绍中心，自从1998年开始本单位一直从事人力资源开发及家政服务从业人员的培训安置工作。</p>
		<p>为扩大就业规范化经营，2016年单位法人范国瑞高中毕业后成立山东合心家政服务集团有限公司：2家人力资源公司（企业下设的人力资源公司：与本市农业农村局、税务局、总工会、农商银行、畜牧局、禹泽水利工程公司等10余家单位达成劳务代理、派遣合作300余人，社会保险参保率达90%以上。）、2家家政服务机构，2家培训机构等7家家庭服务类机构，集团内部设立培训机构，我们集中面对农村剩余劳动力和下岗职工的培训和再就业。企业下设的人力资源公司：与本市农业农村局、税务局、总工会、农商银行、畜牧局、禹泽水利工程公司等10余家单位达成劳务代理、派遣合作300余人，社会保险参保率达90%以上。</p>
		<div class="none">
			<p>为方便市区内部人员学习就业，市区内设立5家分公司，分别营业面积均在200-600平米之间，总营业面积在3000多平米，分别承担着养老护理、育婴员、电工、电焊等专业的理论培训和实操培训。</p>
			<p>2010年为促进妇女同志就业，我们联合禹城市妇女联合会成立禹城市妇联家政服务公司，我们企业内部设立培训机构禹城市宏博职业技能学校来开展联合办学，使广大家政从业人员得到专业的培训，并实现了就业。</p>
			<p>为做好家政服务业的培训和就业工作，我们积极对接我市的支柱企业和养老机构、月子中心、母婴护理单位及医疗机构，有利解决了用工单位和家政从业人员的招工难和用工难的突出问题。</p>
			<p>本集团根据上级部门的任务安排，认真筹备、密切配合、以“政府推动、单位主办、部门监管、学员受益”为原则，以市场需求为导向，全面宣传、广泛招生、积极开展家政服务业人员的培训和安置工作，较好的完成了上级部门交给的任务。</p>
			<p>为方便广大农民工朋友在家门口学到想学的技术，找到满意的工作，我们大力开展送技术下乡活动，各乡镇便民服务中心设立报名服务网点，定期举行送技术下乡活动，来方便偏远乡镇人员学习和就业。先后培训各专业人员3000余人，其中包括家庭服务从业人员2000余人，并实现了80%的再就业。</p>
			<p>为促进家庭服务业发展，我们把养老护理员、家庭服务员、育婴员打造为特色专业，提供了家庭服务业人员的技术能力，增强了家庭服务业人员的维权意识，和各项安全等法律知识。近期我们将根据家庭服务业人员的需求，分别将在各乡镇设立分公司一处，来方便家政从业人员的培训和安置工作，并希望社会各界的支持与监督。</p>
			<p>为促进广大妇女就业，我们先后成立了2家保洁公司，为报销祖国，我们将为山东援鄂所有医护人员提供无偿家政保洁等相关服务，并欢迎援鄂英雄们积极联系我们，我们将有求必应，第一时间为您提供最优质的服务。</p>
		</div>
		<span id="show">查看全部</span>
	</div>
</div>

<div class="wenhua p20 m6 bgW ov">
	<div class="SMtit">企业文化</div>
	<ul>
		<li><img src="images/WH-zhiC.jpg" alt=""/></li>
		<li><img src="images/WH-zhiZ.jpg" alt=""/></li>
		<li><img src="images/WH-zhiS.jpg" alt=""/></li>
	</ul>
</div>

<div class="jinS p20 m6 bgW">
	<div class="SMtit">集团精神</div>
	<img src="images/pic-1.jpg" alt=""/>
</div>

<div class="jinS p20 m6 bgW">
	<div class="SMtit">集团愿景</div>
	<img src="images/pic-2.jpg" alt=""/>
</div>

<div class="wenhua p20 m6 bgW ov">
	<div class="SMtit">集团理念</div>
	<ul>
		<li><img src="images/ln-jk.jpg" alt=""/></li>
		<li><img src="images/ln-bz.jpg" alt=""/></li>
		<li><img src="images/ln-tx.jpg" alt=""/></li>
	</ul>
</div>

<div class="zhanshi p20 m6 bgW font-24 ov">
	<div class="SMtit">公司展示</div>
	<ul>
		<li>
			<img src="images/zhanshi-1.jpg" alt=""/>
			<p>山东合心家政服务集团有限公司</p>
			<a href="">查看详情</a>
		</li>
		<li>
			<img src="images/zhanshi-2.jpg" alt=""/>
			<p>山东禹城智赢人力资源有限公司</p>
			<a href="">查看详情</a>
		</li>
		<li>
			<img src="images/zhanshi-1.jpg" alt=""/>
			<p>山东合心家政服务集团有限公司</p>
			<a href="">查看详情</a>
		</li>
		<li>
			<img src="images/zhanshi-2.jpg" alt=""/>
			<p>山东禹城智赢人力资源有限公司</p>
			<a href="">查看详情</a>
		</li>
		<li>
			<img src="images/zhanshi-1.jpg" alt=""/>
			<p>山东合心家政服务集团有限公司</p>
			<a href="">查看详情</a>
		</li>
		<li>
			<img src="images/zhanshi-2.jpg" alt=""/>
			<p>山东禹城智赢人力资源有限公司</p>
			<a href="">查看详情</a>
		</li>
	</ul>
</div>

<div class="jinS p20 m6 bgW">
	<div class="SMtit">社会责任</div>
	<img src="images/pic-3.jpg" alt=""/>
</div>

<div class="jinS p20 m6 bgW">
	<div class="SMtit">公司人员组织架构</div>
	<img src="images/dsz.jpg" alt=""/>
</div>

<div class="cishan p20 m6 bgW font-20">
	<div class="SMtit">慈善公益</div>
	<p>合心集团爱心基金会</p>
	<dl>
		<dd><i class="fl">1.</i><i class="fr">成立合心集团专项爱心基金会，用于爱心救助联盟，对需要帮助的儿童进行爱心救助。</i></dd>
		<dd><i class="fl">2.</i><i class="fr">成立合心集团内部爱心基金会，用于应对合作加盟商出现经济为危机时，我们将给予全程扶持救助，不让任何一家兄弟合作商掉队。</i></dd>
	</dl>
	<a href=""><img src="images/GY-xingD.jpg" alt=""/></a>
	<a href=""><img src="images/GY-juanK.jpg" alt=""/></a>
</div>

<div class="xueyuan p20 m6 bgW">
	<div class="SMtit">学员风采</div>
	<img src="images/pic-4.jpg" alt=""/>
	<img src="images/pic-5.jpg" alt=""/>
	<img src="images/pic-4.jpg" alt=""/>
	<img src="images/pic-5.jpg" alt=""/>
</div>

<div class="fotNav font-24 p20">
	<ul>
		<li><a href="">首页</a></li>
		<li><a href="">联系我们</a></li>
		<li><a href="">投诉意见</a></li>
		<li><a href="">免费培训</a></li>
		<li><a href="">人才招聘</a></li>
		<li><a href="">合作加盟</a></li>
		<li><a href="">寻求帮助</a></li>
	</ul>
	<p>最近访客</p>
	<dl>
		<dt>友情链接：</dt>
		<dd>中国家庭服务业协会</dd>
		<dd>山东妇女网</dd>
		<dd>德州市人社局</dd>
		<dd>德州市人力资源部</dd>
	</dl>
	<div class="address">地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</div>
</div>

<div id="back-to-top"></div>

</body>
</html>
<script type="text/javascript">
	$("#show").click(function(){
		$(".jianjie .txt .none").show();
	});
	
	//-------一键回顶部----------
	 $(document).ready(function(){
	  //首先将#back-to-top隐藏
	  $("#back-to-top").hide();
	  //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
	  $(function () {
		$(window).scroll(function(){
		if ($(window).scrollTop()>100){
		$("#back-to-top").fadeIn(100);
		}
		else
		{
		$("#back-to-top").fadeOut(100);
		}
		});
		//当点击跳转链接后，回到页面顶部位置
		$("#back-to-top").click(function(){
		$('body,html').animate({scrollTop:0},"speed");
		return false;
		});
		});
		});
 </script>


