<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/base.css" type="text/css">
<title>送技术下乡</title>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="js/Font.js"></script>
</head>
<body>
<!--头部-->
<div class="top">
	<p class="fl font-26">一人就业 全家安心</p>
	<img class="fr" src="images/Tel.png" alt=""/>
</div>
<div class="topNav font-20 bgW p20 m6">
	<ul>
		<a href="/index.html"><li>首页</li></a>
		<a href="/rongyu.html"><li>企业荣誉</li></a>
		<a href="/jianjie.html"><li>集团简介</li></a>
		<a href="/fuwu.html"><li>家政服务</li></a>
		<a href="/xiaxiang.html"><li>送技术下乡</li></a>
		<a href="/peixun"><li>技能培训</li></a>
		<a href="/hezuo.html"><li>劳务合作社</li></a>
		<a href="/renli.html"><li>人力资源</li></a>
		<a href="/zhuangshi.html"><li>装饰工程</li></a>
		<a href="/zhaoxian.html"><li>招贤纳士</li></a>
		<a href="/lianxi.html"><li>联系我们</li></a>
		<a href="/jiameng.html"><li>合作加盟</li></a>
	</ul>
</div>
<img class="kemu" src="images/kemu.jpg" alt=""/>
<div class="jianjie font-28 bgW m6 p20">
	<div class="txt">
		<h3>简介</h3>
		<p>集团旗下宏博职业技能培训学校、人社局定点培训机构，现有培训营业面积3000余平方米。为方便农民工培训、就业，新成立4家分公司。</p>
		<p>现面向全国招收学员，年培训各类技能型人才2000余人，就业率高达80%以上，为促使广大女性就业，我们把育婴师（月嫂）专业打造为特色培训专业，有力地解决了当地就业难用工难的问题，促进了就业，并推动了当地的经济发展。</p>
		<p>本单位始终坚持“不忘初心做培训，牢记使命促就业。”积极开展送技术下乡活动,使广大农民工朋友在家门口学到技术，同时积极对接我市的支柱企业和养老机构、月子中心、母婴护理等单位,承接养老护理、育婴师、保姆、管家、保洁等家政从业人员，为我们的学员找到满意的工作。</p>		
	</div>
</div>

<div class="tese p20 m6 bgW font-28">
	<dl>
		<dt>培训特色：</dt>
		<dd>1：理论与实践相结合</dd>
		<dd>2：国家标准教材。专业培训教师。</dd>
		<dd>3：随时开班，循环授课。</dd>
		<dd>4：培训合格后可优先从合心家政分店中获得就业机会</dd>
	</dl>
</div>

<div class="tesePX font-18 bgW m6 ov">
	<h3>培训项目</h3>
	<ul>
		<li><a th:href="@{'/peixunxiangqing?name='+育婴员}"><img src="images/xiaX-1.png" alt=""/><p>育婴员</p><span>查看详情</span></a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+养老护理}"><img src="images/xiaX-2.png" alt=""/><p>养老护理</p><span>查看详情</span></a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+小儿推拿}"><img src="images/xiaX-3.png" alt=""/><p>小儿推拿</p><span>查看详情</span></a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+中式烹调}"><img src="images/xiaX-4.png" alt=""/><p>中式烹调</p><span>查看详情</span></a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+中式面点}"><img src="images/xiaX-5.png" alt=""/><p>中式面点</p><span>查看详情</span></a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+营养配餐}"><img src="images/xiaX-6.png" alt=""/><p>营养配餐</p><span>查看详情</span></a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+电工}"><img src="images/xiaX-7.png" alt=""/><p>电工</p><span>查看详情</span></a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+电焊}"><img src="images/xiaX-8.png" alt=""/><p>电焊</p><span>查看详情</span></a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+美容}"><img src="images/xiaX-9.png" alt=""/><p>美容</p><span>查看详情</span></a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+美发}"><img src="images/xiaX-10.png" alt=""/><p>美发</p><span>查看详情</span></a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+高级母婴护理师}"><img src="images/xiaX-11.png" alt=""/><p>高级母婴护理师</p><span>查看详情</span></a></li>
		<li><a th:href="@{'/peixunxiangqing?name='+电子商务}"><img src="images/xiaX-12.png" alt=""/><p>电子商务专业</p><span>查看详情</span></a></li>
	</ul>
</div>

<div class="zhenshuS p20 m6 bgW ov font-30">
	<h3>职业资格证书样本：</h3>
	<ul>
		<li>
			<img src="images/zhengshu1.jpg" alt=""/>
			<p>专项职业能力证书</p>
		</li>
		<li>
			<img src="images/zhengshu2.jpg" alt=""/>
			<p>初级证书样本</p>
		</li>
		<li>
			<img src="images/zhengshu3.jpg" alt=""/>
			<p>中级证书样本</p>
		</li>
		<li>
			<img src="images/zhengshu4.jpg" alt=""/>
			<p>高级证书样本</p>
		</li>
	</ul>
</div>
<div class="PXtxt bgW font-28 m6">
	<dl>
		<dt>注意事项：</dt>
		<dd>1.国家劳动职业资格证书是国家唯一承认的等级资格证书。</dd>
		<dd>2.国家劳动职业资格证书是由 “人力资源和社会保障部”（简称“人社部”或“人保部”）颁发的。 </dd>
		<dd>3.国家劳动职业资格证书是出国务工指定认证的国家证书。</dd>
		<dd>4.不要相信几天就能拿到证件的宣传，这不符合国家相关法律法规！</dd>
	</dl>
</div>
<div class="PXtxt xuzhi bgW font-28 m6">
	<dl>
		<dt>学员报名须知</dt>
		<dd><span>报名须知：</span>持身份证或身份证复印件，户口本个人单页或复印件，4张两寸照片（白底或蓝底）</dd>
		<dd><span>参加免费技能培训：</span>女，年龄58岁以下；男，年龄60岁以下；在职职工缴纳社保及享受国家4050补贴人员除外。</dd>
	</dl>
</div>

<div class="fotNav font-24 p20">
	<ul>
		<li><a href="">首页</a></li>
		<li><a href="">联系我们</a></li>
		<li><a href="">投诉意见</a></li>
		<li><a href="">免费培训</a></li>
		<li><a href="">人才招聘</a></li>
		<li><a href="">合作加盟</a></li>
		<li><a href="">寻求帮助</a></li>
	</ul>
	<p>最近访客</p>
	<dl>
		<dt>友情链接：</dt>
		<dd>中国家庭服务业协会</dd>
		<dd>山东妇女网</dd>
		<dd>德州市人社局</dd>
		<dd>德州市人力资源部</dd>
	</dl>
	<div class="address">地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</div>
</div>

<div id="back-to-top"></div>

</body>
</html>
<script type="text/javascript">
	$("#show").click(function(){
		$(".jianjie .txt .none").show();
	});
	
	//-------一键回顶部----------
	 $(document).ready(function(){
	  //首先将#back-to-top隐藏
	  $("#back-to-top").hide();
	  //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
	  $(function () {
		$(window).scroll(function(){
		if ($(window).scrollTop()>100){
		$("#back-to-top").fadeIn(100);
		}
		else
		{
		$("#back-to-top").fadeOut(100);
		}
		});
		//当点击跳转链接后，回到页面顶部位置
		$("#back-to-top").click(function(){
		$('body,html').animate({scrollTop:0},"speed");
		return false;
		});
		});
		});
 </script>


