<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/base.css" type="text/css">
<title>展示详情</title>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="js/Font.js"></script>
</head>
<body>
<!--头部-->
<div class="top">
	<p class="fl font-26">一人就业 全家安心</p>
	<img class="fr" src="images/Tel.png" alt=""/>
</div>

<div class="zhanshiXQ font-24 bgW p20 lp2 m6">
	<img src="images/AI.jpg" alt=""/>
	<p>集团分公司山东春来顺装饰工程有限公司面对济南及德州地区（含各县乡镇）承接3D打印背景墙的上门测量报价及施工。</p>
	<p>随着人们生活水平的提高，在人们看来，买房装修不仅仅是简单随意的事情，更重要的是一种生活品质。很多家庭选择各式花样的墙纸装饰墙壁，以免过于白净而显单调。但是现在，3D打印技术的发展让3D背景墙打印机应运而生，成了新时代家装行业的新宠。</p>
	<p>3D背景打印机，是近些年来跟着数码工业的鼓起而逐步发展起来的一种经由电脑图画输出到打印机上，经过在电脑上作图，一步完结由图画到打印的打印进程。我们的打印机突破了数码打印技能瓶颈，完结了真实意义上的一张起印、无须制版、全彩图画一次完结。极低的打印本钱及高质量的打印作用比传统打印体系经济便利，很少的体系投资、数码化的操作方法及有限的空间占用，是对传统背景墙的最佳弥补。</p>	
</div>

<div class="anliT"><h3>案例图</h3></div>
<div class="anliPic p20 bgW">
	<div class="picS">
		<em></em>
		<img src="images/zhuangshi-1.jpg" alt=""/>
	</div>
	<div class="picS">
		<em></em>
		<img src="images/zhuangshi-2.jpg" alt=""/>
	</div>
	<div class="picS">
		<em></em>
		<img src="images/zhuangshi-3.jpg" alt=""/>
	</div>
	<div class="picS">
		<em></em>
		<img src="images/zhuangshi-4.jpg" alt=""/>
	</div>
	<div class="picS">
		<em></em>
		<img src="images/zhuangshi-5.jpg" alt=""/>
	</div>
</div>

<div class="fotNav font-24 p20">
	<ul>
		<li><a href="/index.html">首页</a></li>
		<li><a href="/lianxi.html">联系我们</a></li>
		<li><a href="">投诉意见</a></li>
		<li><a href="/peixun">免费培训</a></li>
		<li><a href="/zhaoxian.html">人才招聘</a></li>
		<li><a href="/jiameng.html">合作加盟</a></li>
		<li><a href="">寻求帮助</a></li>
	</ul>
	<p>最近访客</p>
	<dl>
		<dt>友情链接：</dt>
		<dd><a href="http://wang119665.qiyegongqiu.net/">中国家庭服务业协会</a></dd>
		<dd><a href="http://www.sdwomen.org.cn/">山东妇女网</a></dd>
		<dd><a href="http://hrss.dezhou.gov.cn/">德州市人社局</a></dd>
		<dd>德州市人力资源部</dd>
	</dl>
	<div class="address">地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</div>
</div>

<div id="back-to-top"></div>

</body>
</html>
<script type="text/javascript">

	jQuery(".RYtableBox").slide({trigger:"click"});
	//-------一键回顶部----------
	 $(document).ready(function(){
	  //首先将#back-to-top隐藏
	  $("#back-to-top").hide();
	  //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
	  $(function () {
		$(window).scroll(function(){
		if ($(window).scrollTop()>100){
		$("#back-to-top").fadeIn(100);
		}
		else
		{
		$("#back-to-top").fadeOut(100);
		}
		});
		//当点击跳转链接后，回到页面顶部位置
		$("#back-to-top").click(function(){
		$('body,html').animate({scrollTop:0},"speed");
		return false;
		});
		});
		});
 </script>


