<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="css/base.css" type="text/css">
<title>招贤纳士</title>
<script type="text/javascript" src="js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="js/Font.js"></script>
</head>
<body>
<!--头部-->
<div class="top">
	<p class="fl font-26">一人就业 全家安心</p>
	<img class="fr" src="images/Tel.png" alt=""/>
</div>

<div class="topNav font-20 bgW p20 m6">
	<ul>
		<li><a href="">首页</a></li>
		<li><a href="">企业荣誉</a></li>
		<li><a href="">集团简介</a></li>
		<li><a href="">家政服务</a></li>
		<li><a href="">送技术下乡</a></li>
		<li><a href="">技能培训</a></li>
		<li><a href="">劳务合作社</a></li>
		<li><a href="">人力资源</a></li>
		<li><a href="">装饰工程</a></li>
		<li><a href="">招贤纳士</a></li>
		<li><a href="">联系我们</a></li>
		<li><a href="">合作加盟</a></li>
	</ul>
</div>

<div class="jianjie font-28 bgW m6 p20">
	<div class="SMtit">招贤纳士</div>
	<img src="images/zhaoxian.jpg" alt=""/>
</div>

<div class="zhaoP font-36 bgW p20 m6">招聘岗位</div>
<div class="zpDX">
	<h3>月嫂</h3>
	<dl>
		<dt>招聘招生对象：</dt>
		<dd>58岁以下，初中或初中以上文化，五官端正，身体健康，有爱心，责任心的女性。</dd>
		<dd>理论加实操滚动式培训，随到随学，老师手把手教学，提供上</dd>
	</dl>
	<input type="button" value="我要应聘"/>
</div>
<div class="zpDX">
	<h3>保姆</h3>
	<dl>
		<dt>招聘招生对象：</dt>
		<dd>年龄58岁以下，身体健康，为人诚信，会做家常菜，做事干净利落，会帮忙带孩子或照顾老人，提供免费培训，使其拥有育婴员或养老护理的资格证书。</dd>
	</dl>
	<input type="button" value="我要应聘"/>
</div>
<div class="zpDX">
	<h3>保洁</h3>
	<dl>
		<dt>招聘简章：</dt>
		<dd>一、家庭保洁</dd>
		<dd>1.家庭住宅环境保洁，如：地面、阳台、墙面、厨房、卫生间、门窗、护栏等保洁及室内消毒。</dd>
		<dd>2.家庭生活设施及物品保洁，如：灶具、洁具、家具、电器、工具、玩具、衣物、窗帘等保洁。</dd>
		<dd>二、单位保洁</dd>
		<dd>1.仪容端正，着装整齐，服从公司的统一调度和工作安排。</dd>
		<dd>2.按公司要求高标准做好责任区内的清扫保洁工作。</dd>
		<dd>3.及时纠正责任区内装修垃圾及生活垃圾倒乱堆乱放行为。</dd>
		<dd>4.按时收集单位的生活垃圾，并清运至指定地点。定期对单位公共部位进行消毒。</dd>
		<dd>5.协助管理处做好单位安防工作，发现可疑人或事应立即向管理处负责人报告。</dd>
		<dd>6.负责收集住户或上班人员对单位环保及管理服务工作的意见和建议及时向领导汇报，做好责任区管理卫生宣传和管理工作台。</dd>
	</dl>
	<input type="button" value="我要应聘"/>
</div>
<div class="zpDX">
	<h3>保安</h3>
	<dl>
		<dt>任职要求：</dt>
		<dd>1.年龄60岁以下</dd>
		<dd>2.责任心强，服从管理</dd>
		<dd>3.身体健康，退伍军人及有保安经验者优先</dd>
	</dl>
	<input type="button" value="我要应聘"/>
</div>
<div class="zpDX">
	<h3>养老护理</h3>
	<dl>
		<dt>任职要求：</dt>
		<dd>年龄58岁以下，身体健康，为人诚信，会做家常菜，做事干净利落，会帮忙照顾老人，提供免费培训，使其拥有养老护理的资格证书。</dd>
	</dl>
	<input type="button" value="我要应聘"/>
</div>
<div class="zpDX">
	<h3>行政文员</h3>
	<dl>
		<dt>岗位职责：</dt>
		<dd>1. 负责公司电话接听及转接，跟踪客户的情况及最新市场信息；</dd>
		<dd>2. 负责公司相关制度、政策的维护和监管；</dd>
		<dd>3. 负责办公室各部门办公后勤保障工作；</dd>
		<dd>4. 负责办公室内资料的整理、收集、分析、记录等；</dd>
		<dd>5. 积极参与团队合作，配合公司其他部门完成工作，完成公司分配工作。</dd>
	</dl>
	<dl>
		<dt>任职要求：</dt>
		<dd>1. 20-28岁，初中以上学历，有一年以上工作经验优先；优秀应届毕业生亦可考虑；</dd>
		<dd>2. 熟练使用办公软件和办公自动化设备；</dd>
		<dd>3. 责任心强，工作细致，有团队合作精神。</dd>
	</dl>
	<input type="button" value="我要应聘"/>
</div>
<div class="zpDX">
	<h3>财务人员</h3>
	<dl>
		<dt>任职要求：</dt>
		<dd>1.会计相关专业，专业成绩优秀</dd>
		<dd>2.有强大的责任心，能及时完成被布置的任务</dd>
		<dd>3.具有较强的沟通能力和抗压能力</dd>
		<dd>4.思想健康，品行端正，无不良记录</dd>
	</dl>
	<input type="button" value="我要应聘"/>
</div>

<div class="baoMtel m6 bgW">
	<span>报名电话：</span>
	<p>0534-7364678</p>
	<p>0534-7296999</p>
</div>

<div class="fotNav font-24 p20">
	<ul>
		<li><a href="">首页</a></li>
		<li><a href="">联系我们</a></li>
		<li><a href="">投诉意见</a></li>
		<li><a href="">免费培训</a></li>
		<li><a href="">人才招聘</a></li>
		<li><a href="">合作加盟</a></li>
		<li><a href="">寻求帮助</a></li>
	</ul>
	<p>最近访客</p>
	<dl>
		<dt>友情链接：</dt>
		<dd>中国家庭服务业协会</dd>
		<dd>山东妇女网</dd>
		<dd>德州市人社局</dd>
		<dd>德州市人力资源部</dd>
	</dl>
	<div class="address">地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</div>
</div>

<div id="back-to-top"></div>

</body>
</html>
<script type="text/javascript">
	$("#show").click(function(){
		$(".jianjie .txt .none").show();
	});
	
	//-------一键回顶部----------
	 $(document).ready(function(){
	  //首先将#back-to-top隐藏
	  $("#back-to-top").hide();
	  //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
	  $(function () {
		$(window).scroll(function(){
		if ($(window).scrollTop()>100){
		$("#back-to-top").fadeIn(100);
		}
		else
		{
		$("#back-to-top").fadeOut(100);
		}
		});
		//当点击跳转链接后，回到页面顶部位置
		$("#back-to-top").click(function(){
		$('body,html').animate({scrollTop:0},"speed");
		return false;
		});
		});
		});
 </script>


