<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="/css/base.css" type="text/css">
<title>展示详情</title>
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="/js/TouchSlide.1.1.js"></script>
<script type="text/javascript" src="/js/Font.js"></script>
	<style>
		.anliPic img {
			width: 7.1rem;
			margin-bottom: .1rem;
		}
		img {
			max-width: 100%;
			height: auto;
		}

		.anliPic p {
			margin-bottom: .4rem;
		}
		.font-24 {
			font-size: .24rem;
		}
		.lp2 {
			letter-spacing: .02rem;
		}
	</style>
</head>
<body>
<!--头部-->
<div class="top">
	<p class="fl font-26">一人就业 全家安心</p>
	<img class="fr" src="/images/Tel.png" alt=""/>
</div>

<div class="zhanshiXQ font-24 bgW p20 lp2 m6">
	<input type="hidden" id="detail" th:value="${companyGongchengDO.gongchengDetail}">
	<div id="comdetail">

	</div>
</div>

<div class="anliT"><h3>案例图</h3></div>
<div class="anliPic p20 bgW">

</div>

<div class="fotNav font-24 p20">
	<ul>
		<li><a href="/index.html">首页</a></li>
		<li><a href="/lianxi.html">联系我们</a></li>
		<li><a href="">投诉意见</a></li>
		<li><a href="/peixun">免费培训</a></li>
		<li><a href="/zhaoxian.html">人才招聘</a></li>
		<li><a href="/jiameng.html">合作加盟</a></li>
		<li><a href="">寻求帮助</a></li>
	</ul>
	<p>最近访客</p>
	<dl>
		<dt>友情链接：</dt>
		<dd><a href="http://wang119665.qiyegongqiu.net/">中国家庭服务业协会</a></dd>
		<dd><a href="http://www.sdwomen.org.cn/">山东妇女网</a></dd>
		<dd><a href="http://hrss.dezhou.gov.cn/">德州市人社局</a></dd>
		<dd>德州市人力资源部</dd>
	</dl>
	<div class="address">地址：山东省德州市禹城建设路中段633号（人社局沿街一楼）</div>
</div>

<div id="back-to-top"></div>

</body>
<div th:include="include::footer"></div>

</html>
<script type="text/javascript">

	jQuery(".RYtableBox").slide({trigger:"click"});
	//-------一键回顶部----------
	 $(document).ready(function(){
	  //首先将#back-to-top隐藏
	  $("#back-to-top").hide();
	  //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
	  $(function () {
		$(window).scroll(function(){
		if ($(window).scrollTop()>100){
		$("#back-to-top").fadeIn(100);
		}
		else
		{
		$("#back-to-top").fadeOut(100);
		}
		});
		//当点击跳转链接后，回到页面顶部位置
		$("#back-to-top").click(function(){
		$('body,html').animate({scrollTop:0},"speed");
		return false;
		});
		});
		});

    $(function () {
        var ccoo = $("#detail").val();
        console.info(ccoo);
        $('#comdetail').summernote('code', ccoo);
        $('#comdetail').summernote('destroy');
		$(".anliPic img").attr('style','');
    })
 </script>
<script th:inline="javascript">
    var iurl=[[${companyGongchengDO.iurl}]];
    var url=iurl.split("::");
    var inla="";
    for(var i=0;i<url.length;i++){
        if(url[i]!="") {
            inla+='<div class="picS">';
            inla+= '<em></em>';
            inla+=  '<img  style="width: 380px;height: 230px;"  src="'+url[i]+'" alt=""/>';
            inla+=   '</div>';
        }
    }
    $("div.anliPic").append(inla);
</script>


