<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="carousel:banner:add" type="button"
								class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="carousel:banner:batchRemove"
								type="button" class="btn  btn-danger" onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<select id="isEnable" name="isEnable" data-placeholder="状态" class="form-control chosen-select" tabindex="2" style="width: 100%">
								<option value="">状态</option>
								<option value="0">开启</option>
								<option value="1">禁用</option>
							</select>
						</div>
						<div class="columns pull-right col-md-2 nopadding ">
							<select name="type" id="type" data-placeholder="选择名称" class="form-control chosen-select" tabindex="2" style="width: 100%">
								<option value="">选择广告名称</option>
								<option value="1">店面图</option>
								<option value="2">公司活动图</option>
								<option value="3">家政保洁图</option>
								<option value="4">人力资源图</option>
								<option value="5">劳务合作社图</option>
								<option value="6">送技术下乡图</option>
								<option value="7">一人就业  全家安心</option>
							</select>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
	<div>
		<script type="text/javascript">
			var s_edit_h = '';
			var s_remove_h = '';
			var s_resetPwd_h = 'hidden';
			var s_add_h = '';
		</script>
	</div>
	<div shiro:hasPermission="carousel:banner:edit">
		<script type="text/javascript">
			s_edit_h = '';
		</script>
	</div>
	<div shiro:hasPermission="carousel:banner:remove">
		<script type="text/javascript">
			var s_remove_h = '';
		</script>
	</div>
	<div shiro:hasPermission="carousel:banner:add">
		<script type="text/javascript">
			s_add_h = '';
		</script>
	</div>

	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/carousel/banner/banner.js"></script>
	<script type="text/javascript">
	laydate.render({
		elem: '#startTime',
		type: 'datetime'
	});
	laydate.render({
		elem: '#endTime',
		type: 'datetime'
	});
	</script>
</body>
</html>