<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hexinjituan.carousel.dao.BannerDao">

	<select id="get" resultType="com.hexinjituan.carousel.domain.BannerDO">
		select id,type_name,type,is_enable,add_time,update_time,url,sort from t_banner where id=#{id}
	</select>

	<select id="list" resultType="com.hexinjituan.carousel.domain.BannerDO">
		SELECT id,type_name,type,is_enable,add_time,update_time,url,sort from t_banner
		where delete_flag=0 and is_enable = 0 and place=1
			<if test="id != null and id != ''"> and id = #{id} </if>
			<if test="typeName != null and typeName != ''"> and type_name=#{typeName} </if>
			<if test="types != null and types != ''"> and type = #{types} </if>
			<if test="isEnable != null and isEnable != ''"> and is_enable = #{isEnable} </if>

		<choose>
			<!--<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>-->
			<otherwise>
				order by sort asc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
	<select id="count" resultType="int">
		select count(*) from t_banner where delete_flag=0

			<if test="types != null and types != ''"> and type = #{types} </if>
			<if test="isEnable != null and isEnable != ''"> and is_enable = #{isEnable} </if>

	</select>
	 
	<insert id="save" parameterType="com.hexinjituan.carousel.domain.BannerDO" useGeneratedKeys="true" keyProperty="id">
		INSERT into t_banner (type,type_name,is_enable,add_time,update_time,user_id,url,sort,delete_flag)
		values
		(
			#{type},
			#{typeName},
			#{isEnable},
			#{addTime},
			#{updateTime},
			#{userId},
			#{url},
			#{sort},
			#{deleteFlag}
		)
	</insert>
	 
	<update id="update" parameterType="com.hexinjituan.carousel.domain.BannerDO">
		update t_banner 
		<set>
			<if test="typeName != null">`type_name` = #{typeName}, </if>
			<if test="type != null">`type` = #{type}, </if>
			<if test="isEnable != null">`is_enable` = #{isEnable}, </if>
			<if test="updateTime != null">`update_time` = #{updateTime}, </if>
			<if test="userId != null">`user_id` = #{userId}, </if>
			<if test="url != null">`url` = #{url}, </if>
			<if test="sort != null">`sort` = #{sort} ,</if>
			<if test="deleteFlag != null">`delete_flag` = #{deleteFlag} </if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from t_banner where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from t_banner where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>